@{
    ViewBag.Title = MINI.Resources.About.Contact.PageTitle;
}
<h1>@MINI.Resources.About.Contact.PageTitle</h1>

<div id="contact" class="clearfix">
    @{ Html.RenderAction("GeneralInquiry", "Form", new { lang = @MINI.App.Lang });}
    <div id="address-info" class="col">
        <h3>@MvcHtmlString.Create(MINI.Resources.About.Contact.AddressTitle)</h3>
        @MvcHtmlString.Create(MINI.Resources.About.Contact.Address)

        <h3>@MvcHtmlString.Create(MINI.Resources.About.Contact.UnsubTitle)</h3>
        <p>@MvcHtmlString.Create(MINI.Resources.About.Contact.UnsubText)
        @{Html.RenderPartial("_FormFooter");}
        </p>

    </div>
</div>
