@model MINI.Models.RetailerSiteViewModel
@{
    ViewBag.Title = MINI.Resources.About.Contact.PageTitle;
}

<h1>@Model.Retailer.Name</h1>

<div id="retailer-contact" class="clearfix">
    <div id="contact-wrap">
        <div class="contact-left">
            @{ Html.RenderAction("ContactRetailer", "Form", new { lang = @MINI.App.CurrentUserLanguage });}
        </div>

        <div class="contact-right">
        
            <div id="map"></div>
        
            <div class="contact-row">
                @{ Html.RenderPartial("_RetailerHoursInfo", Model);}
                @if (MINI.App.CurrentRetailerSite.Retailer.InternalRetailerID == Int16.Parse("10151")) {
                    Html.RenderPartial("_YaletownServiceHours");
                }
            </div>
        </div>
    </div>

    <div class="contact-row clearfix">
        @if (Model.Retailer.TeamMembers.Count > 0) {
            <h4>@MINI.Resources.About.RetailerContact.MeetTeamTitle</h4>
            int currentGroupID = 0;
            int nextGroupID;
            int count = 0;
            foreach (var item in Model.Retailer.TeamMembers.Where(tm => tm.IsActive == true).OrderBy(t => t.RetailerTeamGroupID).OrderBy(t => t.SortOrder)) {
                nextGroupID = item.RetailerTeamGroupID;
                string groupName = item.GroupName;
                string title = item.Title;
                if (MINI.App.CurrentUserLanguage.ToUpperInvariant() == "FR") {
                    groupName = item.GroupName_Fr;
                    title = item.Title_Fr;
                }

                if (nextGroupID != currentGroupID) {
                    count = 0;
                    <br style="clear:both;" />
                    <h5>@groupName</h5>
                }
            
                <div class="team-member">
                    <img src="@Url.ContentVersioned(ImageHelpers.RetailerTeamPhoto(Model.Retailer.InternalRetailerID, item.Photo))" />
                    <div class="team-member-content">
                        <h5>@item.Name</h5>
                        <p>@title</p>
                        <p><a href="mailto:@item.Email">@item.Email</a></p>
                        <p>@MINI.Resources.About.RetailerContact.PhoneLbl: @item.Phone</p>
                    </div>
                </div>    
            
                currentGroupID = item.RetailerTeamGroupID;
                
                if (count == 2) {
                    <br style="clear:both;" />
                    count = 0;
                } else {
                    count++;
                }
            }
        }
    </div>
</div>


@section AdditionalMapsScripts {
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxI2u34Gzuzd2aTWVBtxKu3FteqyAYUuY&sensor=true"type="text/javascript"></script>
  <script src="@Url.Content("~/Public/js/vendor/infobox_packed.js")"></script>
  <script src="@Url.Content("~/Public/js/vendor/markerclusterer_packed.js")"></script>
  <script>
      function initialize() {
          var contactRetailer = new MINI.RetailerContact({ lat: '@Model.Retailer.Lat', lng: '@Model.Retailer.Lng' });
      }

      google.maps.event.addDomListener(window, 'load', initialize);
  </script>
}