@{
    string pageTitle = MINI.Resources.About.Index.PageTitle;
    if (MINI.App.CurrentRetailerSite != null) {
        pageTitle = "About " + MINI.App.CurrentRetailerSite.Retailer.Name;
    }
    
    ViewBag.Title = pageTitle;
}

@if (MINI.App.CurrentRetailerSite != null) {
    string aboutBg = string.Format("~/Public/img/retailers/{0}/{1}-about-bg.jpg", MINI.App.CurrentRetailerSite.Retailer.InternalRetailerID, MINI.App.CurrentRetailerSite.Retailer.InternalRetailerID);
<div id="retailerabout-intro" class="retailer-content content-intro content-offset content-indent" style="background:url('@Url.Content(aboutBg)');">
    <div class="box white">
        <h1>@MvcHtmlString.Create(MINI.Resources.About.RetailerIndex.PageTitle)</h1>
        <h2>@MvcHtmlString.Create(MINI.App.CurrentRetailerSite.Retailer.Name)</h2>
    </div>
</div>
<div id="fleet-info" class="content-section content-offset content-indent white">
    <div class="pull-left" style="width:100%;padding-top:10px;padding-right:10px;">
        @MvcHtmlString.Create(MINI.App.CurrentRetailerSite.About)
    </div>
    @*<div class="pull-right" style="width:50%;">
        @{ Html.RenderPartial("_RetailerHoursInfo", MINI.App.CurrentRetailerSite);}    
    </div>*@
</div>
    Html.RenderAction("StarRating", "Retailer", new { lang = @MINI.App.CurrentUserLanguage });
    
   
}
