@model MINI.Models.FindRetailerSearchViewModel
<div id="search-bar">
@using (Html.BeginForm("search", "retailer", FormMethod.Post, new { @class = "form-horizontal" })) {
  <a href="#" id="useCurrentLocation" class="pull-left">@MINI.Resources.Retailers.Index.UseCurrent</a>
  <ul class="list-inline pull-left">
    <li class="spacer">@MINI.Resources.Retailers.Index.OrLbl</li>
    <li>@Html.TextBoxFor(m => m.PostalLocation, new { @class = "form-control", @placeholder = MINI.Resources.Retailers.Index.PostalCodeLocationLbl })</li>
    <li class="spacer">@MINI.Resources.Retailers.Index.OrLbl</li>
    <li>@Html.GroupDropList("InternalRetailerID", Model.GroupedRetailers, null, null, @MINI.Resources.Forms.Index.Title_SelectRetailer)</li>
    <li class="spacer">@MINI.Resources.Retailers.Index.AndLbl</li>    
    <li>@Html.DropDownListFor(m => m.ServicesOffered, new SelectList(Model.Services, "value", "text"))</li>
    <li><a href="#" class="btn btn-primary btn-md gradient-grey" id="submit"><img src="@Url.ContentVersioned("~/Public/img/find-retailer/search-ico.png")" /></a></li>
    <li><button class="btn btn-primary btn-md gradient-grey" id="reset">x</button></li>
  </ul>
}
</div>

