@model List<MINI.Models.FloatingNavViewModel>
<nav id="floating-nav" class="floating-nav clearfix">
    @if (ViewData["NavTitle"] != null) {
        <h4 class="pull-left"><a href="#" id="float-nav-top">@ViewData["NavTitle"].ToString().TrimEnd('.')</a></h4>
    }
  <ul class="nav nav-pills pull-right">
  
  @foreach (var item in Model) {
      string target = item.OpenInNewWindow ? "_blank" : "_self";
      if (item.IsConfigLink) {
        <li><a href="@item.Target" class="build-trigger @item.CSS">@MvcHtmlString.Create(item.Label)</a></li>
      } else {
        <li><a href="@item.Target" target="@target" class="@item.CSS">@MvcHtmlString.Create(item.Label)</a></li>
      }
  }
  </ul>
</nav>
