@model List<MINI.Models.NavigationViewModel>

<footer>
@*    @{Html.RenderPartial("_SitemapLinks", Model);}
*@
    <div class="social clearfix">
        @if (MINI.App.CurrentRetailerSite == null) {
        <div class="connect pull-left">
            <!-- AddThis Follow BEGIN -->
            <div class="addthis_toolbox addthis_32x32_style addthis_default_style">
                <a class="addthis_button_youtube_follow" addthis:userid="minicanada"><img src="@Url.ContentVersioned("~/Public/img/follow/yt.png")" width="24" height="24" /></a>
                <a class="addthis_button_twitter_follow" addthis:userid="MINICanada"><img src="@Url.ContentVersioned("~/Public/img/follow/tw.png")" width="24" height="24" /></a>
                <a class="addthis_button_facebook_follow" addthis:userid="MINI.canada"><img src="@Url.ContentVersioned("~/Public/img/follow/fb.png")" width="24" height="24" /></a>
                <a class="addthis_button_rss_follow" addthis:userid="http://www.minispace.com/en_us/"><img src="@Url.ContentVersioned("~/Public/img/follow/sp.png")" width="24" height="24" /></a>
            </div>
            <!-- AddThis Follow END -->
        </div>
        }

        <div class="junk-drawer pull-right">
          <ul id="footer-quick" class="list-inline">
          @if (MINI.App.CurrentRetailerSite == null) {
            <li>@Html.ActionLink(MINI.Resources.Footer.FindRetailerLabel, "index", "retailer")</li>
          }
            <li><a href="@Html.GenerateConfigUrl(null, null)" target="_blank">@MINI.Resources.Navigation.BuildLabel</a></li>
            <li><a href="@Url.Action("contact", "about")">@MINI.Resources.Navigation.ContactLabel</a></li>
            <li><a href="@Url.Action("sitemap", "about")">@MINI.Resources.Navigation.SitemapLabel</a></li>
          </ul>
        
          <ul id="footer-external" class="list-inline">
            <li><a href="http://www.bmwgroup.com/" target="bmw_group">@MINI.Resources.Footer.BMWLabel</a></li>
            <li><a href="@Url.Action("index", "static", new { @lang = MINI.App.CurrentUserLanguage, pathInfo = "about/legal" })"">@MINI.Resources.Footer.LegalLabel</a></li>
            <li><a href="http://m.mini.ca/">@MINI.Resources.Footer.MobileLabel</a></li>
            <li><a href="#Unsubscribe" data-toggle="modal" data-backdrop="static" data-keyboard="false">@MINI.Resources.Footer.UnsubscribeLabel</a></li>
            @if (MINI.App.CurrentRetailerSite == null || (MINI.App.CurrentRetailerSite != null && MINI.App.CurrentRetailerSite.Retailer.ProvinceShort == "QC")) {
            <li><a href="@Url.Action("index", "settings", new { returnUrl = Request.Url })">@MINI.Resources.Footer.SwitchLangLabel</a></li>
            }
          </ul>

          <ul id="footer-final" class="list-inline">
            <li style="text-transform:none;">&copy @DateTime.Now.Year @MINI.Resources.Footer.Copyright</li>
            
          </ul>
        </div>
      </div> 
</footer>
