<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/Public/img/favicon.ico" type="image/x-icon" />
    <script>var isDebug = false;</script>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @if (AutoWeb.App.CurrentUserLanguage.ToUpperInvariant() == "FR")
    {
        @Styles.Render("~/Public/css/french-css")
    }
    <!--[if gte IE 8]>
     @Styles.Render("~/Public/css/IE-8")
    <![endif]-->
</head>
<body>
    <!--[if lt IE 7]><p>Browser Outdated. Please upgrade your browser.</p> <![endif]-->
    <div class="container">
        <div class="clearfix">
            <div id="body">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="@Url.ContentVersioned("~/Public/js/plugin/html5shiv.js")"></script>
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        @Scripts.Render("~/bundles/base-js")
    }
    else
    {
        <script src="@Scripts.Url("~/bundles/base-js")"></script>
    }
    <script>
        $(function () {
            @RenderSection("AdditionalScripts", false)
        });
    </script>
    @RenderSection("AdditionalMapsScripts", false)
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        @*ga('create', '@AnalyticsHelpers.GetGoogleAnalyticsCode()', '@AnalyticsHelpers.GetDomainForAnalytics()');*@
        ga('send', 'pageview');
    </script>
</body>
@RenderSection("featured", required: false)
</html>
