@using MvcGlobalisationSupport;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - @Html.Raw(Auto.Web.Resources.Global.Title)</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="top">
        <div class="container">
            <ul class="loginbar pull-right">
                <li>
                    <i class="glyphicon glyphicon-globe"></i>
                    <a>Languages</a>
                    <ul class="languages">
                        <li @*class="active"*@>@Html.GlobalisedRouteLink(Auto.Web.Resources.Global.LangEnglish, "en", ViewContext.RouteData)</li>
                        <li>@Html.GlobalisedRouteLink(Auto.Web.Resources.Global.LangFrench, "fr", ViewContext.RouteData)</li>
                        <li>@Html.GlobalisedRouteLink(Auto.Web.Resources.Global.LangChinese, "zh", ViewContext.RouteData)</li>
                        <li class="devider"></li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </li>
            </ul>
        </div>
    </div>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("logo", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink(Auto.Web.Resources.Global.Home, "Index", "Home")</li>
                        <li>@Html.ActionLink(Auto.Web.Resources.Global.About, "About", "Home")</li>
                        <li>@Html.ActionLink(Auto.Web.Resources.Global.Contact, "Contact", "Home")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year</p>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
