@using GlobalisationSupport;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - @Html.Raw(Auto.Web.Resources.Global.Title)</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!--Styles.Render("~/Content/themes/base/css")-->
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="page">

        <header>
            <div id="header">
            <div id="logo"><img src="~/Images/logo.jpg" alt="Autolisting Logo"/></div>
            <div id="headerlinks">
                <ul>@Html.Partial("_LoginPartial")</ul>
            </div>
            </div>
        </header>
		<div class="clear"></div>
        
        <div id="headermenu" role="navigation">							
				<ul>				
					<li>@Html.ActionLink(Auto.Web.Resources.Global.Home, "Index", "Home")</li>
					<li>@Html.ActionLink(Auto.Web.Resources.Global.About, "About", "Home")</li>
					<li>@Html.ActionLink(Auto.Web.Resources.Global.Contact, "Contact", "Home")</li>                    
				</ul>			
		</div>		
        <div class="clear"></div>
                    
        <div id="content">
		    <div id="leftNav">Left Nav Pane: Filters</div>
            
            <div id="rightContent">            
                @RenderSection("featured", required: false)
                <section class="content-wrapper main-content clear-fix">
                    @RenderBody()
                </section>
               
            </div>
	    </div>		
        <div class="clear"></div>

        <footer>
             <div id="footer">
        	    <div id="footercopyright">
			    &copy; @DateTime.Now.Year Autolisting
                </div>
                <div id="footerlinks">
			    <ul>
				    <li>@Html.ActionLink(Auto.Web.Resources.Global.Home, "Index", "Home")</li>
				    <li>@Html.ActionLink(Auto.Web.Resources.Global.About, "About", "Home")</li>
				    <li>@Html.ActionLink(Auto.Web.Resources.Global.Contact, "Contact", "Home")</li>				
			    </ul>
                </div>
		    </div>        
        </footer>

    </div>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
