@model List<MINI.Models.NavigationViewModel>
<div id="header" class="clearfix">
    <div class="container">
        <div id="brand"><a href="/" class="brand pull-right">MINI</a></div>
        @if (Model != null) {
           
		
			
            <div role="navigation" id="navigation">
			
                <ul class="nav navbar-nav">
                    <li><a href="#" class="nav-opener arrow" data-mainnavigation="toggle" data-target="#mini-navigation">@MINI.Resources.Navigation.ModelLabel</a></li>
                    <li><a href="#" class="nav-opener arrow" data-mainnavigation="toggle" data-target="#shopping-navigation">@MINI.Resources.Navigation.ShoppingLabel</a></li>
                    <li><a href="#" class="nav-opener arrow" data-mainnavigation="toggle" data-target="#discover-navigation">@MINI.Resources.Navigation.WhyLabel</a></li>
                    <li><a href="#" class="nav-opener arrow" data-mainnavigation="toggle" data-target="#owners-navigation">@MINI.Resources.Navigation.LoungeLabel</a></li>
                    @if (MINI.App.CurrentRetailerSite == null) {
                    <li><a href="#Subscribe" class="nav-opener" data-toggle="modal" data-backdrop="static" data-keyboard="false">@MINI.Resources.Navigation.LoopLabel</a></li>
                    }
                </ul>
                <br />

                <div id="mini-navigation" class="sub-navigation clearfix">
                    <img src="@Url.ContentVersioned("~/Public/img/nav/up-arrow.png")" width="75" height="15" class="up-arrow" />
                    <ul class="nav navbar-nav" id="main">
                        @{ string F56Price = Decimal.Zero.ToString(); }
                        @foreach (var item in Model) {
                            if (item.ECode != "F56") {
                                <li class="@item.ECode-nav-bg">
                                    <a href="@Url.Action("index", "vehicle", new { @model = @item.Slug, @lang = @MINI.App.CurrentUserLanguage })" style="display:block;width:100%;height:100%;">
                                        <h4>@item.Label</h4>
                                        <h4 class="grey">@item.Tagline.Replace("\\", "")</h4>
                                        <h5>@MINI.Resources.Navigation.StartingAtLabel @item.Price</h5>
                                        <span class="grey-chevrons"></span> @MINI.Resources.Navigation.ExploreLbl
                                    </a>
                                </li>  
                            } else {
                                F56Price = item.Price;
                            }
                        }
                    </ul>

                    <ul class="nav navbar-nav" id="alt">
                        <li class="F56-nav-bg-@MINI.App.CurrentUserLanguage.ToUpperInvariant()">
                            <a href="@Url.Action("index", "vehicle", new { @model = "mini-hatch", @lang = @MINI.App.CurrentUserLanguage })" style="display:block;width:100%;height:100%;">
                                <h4>@MINI.Resources.Navigation.NewMININame</h4>
                                <h4 class="f56yellow">@MINI.Resources.Navigation.NewMINITagline</h4>
                                <h5>@MINI.Resources.Navigation.StartingAtLabel @F56Price</h5>
                                <span class="grey-chevrons"></span> @MINI.Resources.Navigation.ExploreLbl
                            </a>                        
                        
                        </li>
                        <li class="build-nav-bg grey-bottom-border grey-top-border">
                            <a href="@Html.GenerateConfigUrl(null, null)" target="_blank" style="display:block;width:100%;height:100%;">
                                <h4>@MINI.Resources.Navigation.BuildAndPriceName</h4>
                                <span class="grey-chevrons"></span> @MINI.Resources.Navigation.BuildAndPriceTagline
                            </a>                                       
                        </li>
                        <li class="specialoffers-nav-bg">
                            <a href="@Url.Action("index", "specialoffers")" style="display:block;width:100%;height:100%;">
                                <h4>@MINI.Resources.Navigation.SpecialOffersName</h4>
                                <span class="grey-chevrons"></span> @MINI.Resources.Navigation.SpecialOffersTagline
                            </a>                                       
                        </li>
                    </ul>
                </div>

                <div id="shopping-navigation" class="sub-navigation clearfix">
                    <img src="@Url.ContentVersioned("~/Public/img/nav/up-arrow.png")" width="75" height="15" class="up-arrow" />
                    <ul class="nav navbar-nav navbar-subnav lined">
                        <li><a href="@Url.Action("index", "specialoffers")">@MINI.Resources.Navigation.SpecialOffersLabel</a></li>
                        <li><a href="@Html.GenerateConfigUrl(null, null)" target="_blank">@MINI.Resources.Navigation.BuildLabel</a></li>
                        @if (MINI.App.CurrentRetailerSite == null) {
                        <li><a href="@Url.Action("index", "retailer")">@MINI.Resources.Navigation.FindLabel</a></li>
                        }
                        <li><a href="@Url.Action("modelfilter", "shopping")">@MINI.Resources.Navigation.ModelFilterLabel</a></li>
                        <li><a href="#TestDrive" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-retailer-number-value="@LinkHelpers.GenerateRetailerDataValue()">@MINI.Resources.Navigation.TestDriveLabel</a></li>
                        <li><a href="@Url.Action("index", "static", new { @lang = MINI.App.CurrentUserLanguage, pathInfo = "shopping/financial-services" })">@MINI.Resources.Navigation.FinancialLabel</a></li>
                        <li><a href="@Url.Action("index", "static", new { @lang = MINI.App.CurrentUserLanguage, pathInfo = "shopping/mini-fleet" })">@MINI.Resources.Navigation.FleetLbl</a></li>
                        <li><a href="@Url.Action("index", "static", new { @lang = MINI.App.CurrentUserLanguage, pathInfo = "shopping/mini-next" })">@MINI.Resources.Navigation.NextLabel</a></li>
                        <li><a href="@Url.Content(string.Format("~/Public/img/v/2013LineupBroch_Web_{0}.pdf", MINI.App.Lang))" target="_brochure">@MINI.Resources.Navigation.BrochureLbl</a></li>
                    </ul>
                </div>

                <div id="discover-navigation" class="sub-navigation clearfix">
                    <img src="@Url.ContentVersioned("~/Public/img/nav/up-arrow.png")" width="75" height="15" class="up-arrow" />
                    <ul class="nav navbar-nav navbar-subnav lined">
                        <li><a href="@Url.Action("index", "static", new { @lang = MINI.App.CurrentUserLanguage, pathInfo = "discover/mini-heritage" })">@MINI.Resources.Navigation.MiniHeritageLabel</a></li>
                        <li><a href="@Url.Action("index", "static", new { @lang = MINI.App.CurrentUserLanguage, pathInfo = "discover/not-normal" })">@MINI.Resources.Navigation.NotNormalLabel</a></li>
                    </ul>
                </div>

                <div id="owners-navigation" class="sub-navigation clearfix">
                    <img src="@Url.ContentVersioned("~/Public/img/nav/up-arrow.png")" width="75" height="15" class="up-arrow" />
                    <ul class="nav navbar-nav navbar-subnav lined">
                        <li><a href="@Url.Action("index", "static", new { @lang = MINI.App.CurrentUserLanguage, pathInfo = "owners/mini-101" })">@MINI.Resources.Navigation.Mini101Label</a></li>
                        <li><a href="@Url.Action("index", "static", new { @lang = MINI.App.CurrentUserLanguage, pathInfo = "owners/parts-accessories" })">@MINI.Resources.Navigation.PartsAccLabel</a></li>
                        <li><a href="@Url.Action("index", "static", new { @lang = MINI.App.CurrentUserLanguage, pathInfo = "owners/mini-service" })">@MINI.Resources.Navigation.MiniServiceLabel</a></li>
                        <li><a href="@Url.Action("index", "static", new { @lang = MINI.App.CurrentUserLanguage, pathInfo = "owners/roadside-ccrc" })">@MINI.Resources.Navigation.RoadsideLabel</a></li>
                        <li><a href="@Url.Action("ccrc", "owners")">@MINI.Resources.Navigation.CCRCLabel</a></li>
                        <li><a href="@MINI.Resources.Navigation.MiniShopLink" target="minishop">@MINI.Resources.Navigation.MiniCollectionLabel</a></li>
                    </ul>
                </div>
            </div><!-- WAS CLOSING NAV -->

            <div id="main-share" role="global-navigation" id="global-navigation">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("contact", "about")">@MINI.Resources.Navigation.ContactLabel</a></li>
                    
                    
                    @if (MINI.App.CurrentRetailerSite == null) {
                        <li class="divider"></li>
                        <li><a id="follow-trigger" href="#" class="follow"><span>@MINI.Resources.Navigation.FollowUsLabel</span></a></li>
                    } else {
                        <li class="divider"></li>
                        @:<li><a href="@Url.Action("index", "about")">@MINI.Resources.Navigation.AboutUsLbl</a></li>
                    }
                </ul>
								
				<div id="follow-container">
                <!-- AddThis Follow BEGIN -->
                <div class="addthis_toolbox addthis_32x32_style addthis_default_style">
                <a class="addthis_button_youtube_follow" addthis:userid="minicanada"><img src="@Url.ContentVersioned("~/Public/img/follow/yt.png")" width="24" height="24" /></a>
                <a class="addthis_button_twitter_follow" addthis:userid="MINICanada"><img src="@Url.ContentVersioned("~/Public/img/follow/tw.png")" width="24" height="24" /></a>
                <a class="addthis_button_facebook_follow" addthis:userid="MINI.canada"><img src="@Url.ContentVersioned("~/Public/img/follow/fb.png")" width="24" height="24" /></a>
                <a class="addthis_button_rss_follow" addthis:userid="http://www.minispace.com/en_us/"><img src="@Url.ContentVersioned("~/Public/img/follow/sp.png")" width="24" height="24" /></a>
                </div>
                <!-- AddThis Follow END -->
                </div> 
				 
			 </div>	
           
			
        }
        
        <div class="back-to-top"><div id="btt" role="to-top"><a href="#top">@MINI.Resources.Navigation.BackToTop</a></div></div>               
    </div>
</div>
