@model MINI.Models.FormSubmissionViewModel
@using (Html.BeginForm("SaveContactRetailer", "Form", FormMethod.Post, new { id = "formGeneralInquiry" })) {
        @Html.HiddenFor(x => x.RetailerNumber)

    <div class="general-inquiry-form">
        <div class="alert alert-danger" style="display:none;">
            <div id="ResultMsgRetailerContact">
            </div>
        </div>
        <fieldset id="fields">
            <div class="col">
                <legend>
                    <h4>@MINI.Resources.Forms.Index.ReasonForContactingUsLbl</h4>
                </legend>
                <div class="form-group">
                    <div class="generalinquory-select required">
                        @Html.DropDownListFor(m => m.OpportunityType, Model.OpportunityTypes, MINI.Resources.Forms.Index.Option_PleaseSelect, new { id = "ddlOpportunityType", @class = "form-control" })
                    </div>
                </div>
                <legend>
                    <h4>@MINI.Resources.Forms.Index.PersonalInfoTitle</h4>
                </legend>
                <div class="form-group">
                    <div class="testdrive-select required">
                        @Html.DropDownListFor(m => m.Salutation, Model.Salutations, MINI.Resources.Forms.Index.SalutationLbl, new { id = "ddlSalutation", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group required">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control generalinquory-input", @placeholder = @MINI.Resources.Forms.Index.FirstNameLbl })
                </div>
                <div class="form-group required">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control generalinquory-input", @placeholder = @MINI.Resources.Forms.Index.LastNameLbl })
                </div>
                <div class="form-group">
                    <div class="testdrive-select required">
                        @Html.DropDownListFor(m => m.PreferredContactMethod, Model.PreferredContactMethods, MINI.Resources.Forms.Index.PreferredContactMethodLbl, new { id = "ddlPreferredContactMethod", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="testdrive-select" style="width: 300px">
                        @foreach (var phoneType in Model.PhoneTypes)
                        {
                            <div class="radio-inline">
                                <label>@Html.RadioButtonFor(m => m.PhoneType, phoneType.Value) @phoneType.Text</label>
                            </div>
                        }
                    </div>
                </div>
                <div class="form-group required">
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control generalinquory-input", @placeholder = @MINI.Resources.Forms.Index.PhoneNumberLbl })
                </div>
                <div class="form-group required">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control generalinquory-input", @placeholder = @MINI.Resources.Forms.Index.EmailAddressLbl })
                </div>
                
                <div class="form-group">
                    <div class="testdrive-select required">
                        @Html.DropDownListFor(m => m.PreferredContactTime, Model.PreferredContactTimes, MINI.Resources.Forms.Index.PreferredContactTimeLbl, new { id = "ddlPreferredContactTime", @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col right-col">
                <legend>
                    <h4>
                        @MINI.Resources.Forms.Index.CommentsLbl</h4>
                </legend>
                <div class="form-group required">
                    @Html.TextAreaFor(m => m.Comments, new { @class = "form-control generalinquory-input", @placeholder = MINI.Resources.Forms.Index.CommentsLbl, @rows = "6" })
                </div>
                <br />
                <div class="pull-left">
            <button class="btn btn-primary gradient-grey shadow" type="submit"> <img src="@Url.ContentVersioned("~/Public/img/transp-shadow-double-chevron.png")" width="16" height="12" /> @MINI.Resources.Forms.Index.SubmitLbl</button>
            <div class="reqmsg">@Html.Raw(MINI.Resources.Forms.Index.AllFieldsMarkedRequired)</div>
        </div>
            </div>
            <div class="col">
            </div>
        </fieldset>
        @{Html.RenderPartial("_FormFooter");}        
    </div>
}