@model List<MINI.Models.NavigationViewModel>
    <div class="footer-row clearfix">
        <div class="footer-models">
            <h5>@MINI.Resources.Navigation.ModelLabel</h5>
            <ul class="list-unstyled">
                @for (int i = 0; i < Model.Count / 2 + 1; i++) {
                <li>@Html.ActionLink(Model[i].Label, "index", "vehicle", new { @model = @Model[i].Slug, @lang = @MINI.App.CurrentUserLanguage }, null)</li>  
                }
            </ul>
        </div>
  
        <div class="footer-models ptop35">
            <ul class="list-unstyled">
                @for (int i = Model.Count / 2 + 1; i < Model.Count; i++) {
                <li>@Html.ActionLink(Model[i].Label, "index", "vehicle", new { @model = @Model[i].Slug, @lang = @MINI.App.CurrentUserLanguage }, null)</li>  
                }
            </ul>
        </div>

        <div class="footer-tools">
            <h5>@MINI.Resources.Navigation.ShoppingLabel</h5>
            <ul class="list-unstyled">
                <li>@Html.ActionLink(MINI.Resources.Navigation.SpecialOffersLabel, "index", "specialoffers")</li>
                <li><a href="@Html.GenerateConfigUrl(null, null)" target="_blank">@MINI.Resources.Navigation.BuildLabel</a></li>
                @if (MINI.App.CurrentRetailerSite == null) {
                <li>@Html.ActionLink(MINI.Resources.Navigation.FindLabel, "index", "retailer")</li>
                }
                <li><a href="@Url.Action("modelfilter", "shopping")">@MINI.Resources.Navigation.ModelFilterLabel</a></li>
                <li><a href="#TestDrive" data-toggle="modal" data-retailer-number-value="@LinkHelpers.GenerateRetailerDataValue()">@MINI.Resources.Navigation.TestDriveLabel</a></li>
                <li><a href="@Url.Action("index", "static", new { @lang = MINI.App.CurrentUserLanguage, pathInfo = "shopping/financial-services" })">@MINI.Resources.Navigation.FinancialLabel</a></li>
                <li><a href="@Url.Action("index", "static", new { @lang = MINI.App.CurrentUserLanguage, pathInfo = "shopping/mini-fleet" })">@MINI.Resources.Navigation.FleetLbl</a></li>
                <li><a href="@Url.Action("index", "static", new { @lang = MINI.App.CurrentUserLanguage, pathInfo = "shopping/mini-next" })">@MINI.Resources.Navigation.NextLabel</a></li>
                <li><a href="@Url.Content(string.Format("~/Public/img/v/2013LineupBroch_Web_{0}.pdf", MINI.App.Lang))" target="_brochure">@MINI.Resources.Navigation.BrochureLbl</a></li>
            </ul>
        </div>
        
        <div class="footer-discover">
            <h5>@MINI.Resources.Navigation.WhyLabel</h5>
            <ul class="list-unstyled">
                <li><a href="@Url.Action("index", "static", new { @lang = MINI.App.CurrentUserLanguage, pathInfo = "discover/mini-heritage" })">@MINI.Resources.Navigation.MiniHeritageLabel</a></li>
                <li><a href="@Url.Action("index", "static", new { @lang = MINI.App.CurrentUserLanguage, pathInfo = "discover/not-normal" })">@MINI.Resources.Navigation.NotNormalLabel</a></li>
            </ul>
        </div>
        
        <div class="footer-discover ptop35">
        </div>

        <div class="footer-owners">
            <h5>@MINI.Resources.Navigation.LoungeLabel</h5>
            <ul class="list-unstyled">
                <li><a href="@Url.Action("index", "static", new { @lang = MINI.App.CurrentUserLanguage, pathInfo = "owners/mini-101" })">@MINI.Resources.Navigation.Mini101Label</a></li>
                <li><a href="@Url.Action("index", "static", new { @lang = MINI.App.CurrentUserLanguage, pathInfo = "owners/parts-accessories" })">@MINI.Resources.Navigation.PartsAccLabel</a></li>
                <li><a href="@Url.Action("index", "static", new { @lang = MINI.App.CurrentUserLanguage, pathInfo = "owners/mini-service" })">@MINI.Resources.Navigation.MiniServiceLabel</a></li>
                <li><a href="@Url.Action("index", "static", new { @lang = MINI.App.CurrentUserLanguage, pathInfo = "owners/roadside-ccrc" })">@MINI.Resources.Navigation.RoadsideLabel</a></li>
                <li><a href="@Url.Action("ccrc", "owners")">@MINI.Resources.Navigation.CCRCLabel</a></li>
                <li><a href="@MINI.Resources.Navigation.MiniShopLink" target="minishop">@MINI.Resources.Navigation.MiniCollectionLabel</a></li>
            </ul>
        </div>
    </div>