@model MINI.Models.FormUnsubscribeViewModel
@using (Html.BeginForm("SaveUnsubscribe", "Form", FormMethod.Post, new { id = "formUnsubscribe" }))
{
    <div class="modal fade" id="Unsubscribe" tabindex="-1" role="dialog" aria-labelledby="bookTestDriveLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><div class="close-text">@MINI.Resources.Forms.Index.CloseLbl</div>&times;</button>
                    <h4 class="modal-title">@MINI.Resources.Forms.Index.Title_UnSubscribe</h4>
                </div>
                <div class="modal-body" style="padding: 20px;">
                    <div class="alert alert-danger" style="display:none;">
                        <div id="UnsubscribeResultMsg">
                        </div>
                    </div>
                    <fieldset id="fields">
                        <div class="col">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control testdrive-input", @placeholder = MINI.Resources.Forms.Index.FirstNameLbl })
                            </div>
                        </div>
                    </fieldset>
                     <fieldset id="fields">
                        <div class="col">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control testdrive-input", @placeholder = MINI.Resources.Forms.Index.LastNameLbl })
                            </div>
                        </div>
                    </fieldset>
                     <fieldset id="fields">
                        <div class="col">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control testdrive-input", @placeholder = MINI.Resources.Forms.Index.EmailAddressLbl })
                            </div>
                        </div>
                    </fieldset>
<button class="btn btn-primary gradient-grey shadow" type="submit"> <img src="@Url.ContentVersioned("~/Public/img/transp-shadow-double-chevron.png")" width="16" height="12" /> @MINI.Resources.Forms.Index.SubmitLbl</button>
                </div>
                <div class="modal-footer">
                @{Html.RenderPartial("_FormFooter");}
                </div>
            </div>
        </div>
    </div>
}
