@helper DisplayCookieValue(string cookieKey) {
  string result = "N/A";
  object value = Cookies.Get("__auto", cookieKey);
  if(value != null) {
    result = value.ToString().ToUpper();
  }

  @result
}
@if (HttpContext.Current.IsDebuggingEnabled) {
<div class="row">
  <div class="debugging">
    <div class="row">
      <div class="col-lg-3">
        <h4>Cookie Data</h4>
        <dl class="dl-horizontal">
          <dt>Current Language:</dt>
          <dd>@DisplayCookieValue("ulang")</dd>
          <dt>Current Province:</dt>
          <dd>@DisplayCookieValue("uprov")</dd>
        </dl>
      </div>
      <div class="col-lg-4">
        <h4>Browser Info</h4>
        <dl class="dl-horizontal">
          <dt>Current Browser Info:</dt>
          <dd>@Request.Browser.Platform @Request.Browser.Id @Request.Browser.Browser @Request.Browser.Version</dd>
          <dt>Is Mobile:</dt>
          <dd> @Request.Browser.IsMobileDevice</dd>
          <dt>Manufacturer:</dt>
          <dd>@Request.Browser.MobileDeviceManufacturer  </dd>
        </dl>
      </div>
    </div>
  </div>
</div>
}