@{
  ViewBag.Title = MINI.Resources.Shopping.FinancialServices.PageTitle;
}
@{
    List<MINI.Models.FloatingNavViewModel> model = new List<MINI.Models.FloatingNavViewModel>();
    model.Add(new MINI.Models.FloatingNavViewModel() { Label = MINI.Resources.Shopping.FinancialServices.LeaseLbl, Target = "#lease" });
    model.Add(new MINI.Models.FloatingNavViewModel() { Label = MINI.Resources.Shopping.FinancialServices.FinanceLbl  , Target = "#finance" });
    model.Add(new MINI.Models.FloatingNavViewModel() { Label = MINI.Resources.Shopping.FinancialServices.ProtectionLbl, Target = "#protection" });
    model.Add(new MINI.Models.FloatingNavViewModel() { Label = MINI.Resources.Shopping.FinancialServices.BuildPriceCTA, Target = MINI.Resources.Shopping.FinancialServices.BuildLink, CSS="selected-end", IsConfigLink = true });

    ViewData["NavTitle"] = MINI.Resources.Shopping.FinancialServices.PageTitle;
    
    Html.RenderPartial("_ContentFloatingNav", model);
}

<div id="financialservices-intro" class="content-intro content-offset content-indent">
    <div class="box red intro-text">
        <h2 class="red">@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.IntroTitle)</h2>
        <h3 class="white">@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.IntroSubTitle)</h3>
    </div>
    <img src="@Url.ContentVersioned("~/Public/img/content/financial-services/intro-overlay.png")" />
</div>

@{ Html.RenderPartial("_InPageNav", "lease"); }

<div id="lease" class="content-section content-offset content-indent">
    <div class="content-section-menu">
        <h3 class="white">@MINI.Resources.Shopping.FinancialServices.LeaseLbl</h3>
        <ul class="nav red-bottom">
            <li><a href="#overview" data-sectionparent="#lease">@MINI.Resources.Shopping.FinancialServices.LeaseMenu1</a></li>
            <li><a href="#standard-lease" data-sectionparent="#lease">@MINI.Resources.Shopping.FinancialServices.LeaseMenu2</a></li>
            <li><a href="#multiple-lease" data-sectionparent="#lease">@MINI.Resources.Shopping.FinancialServices.LeaseMenu3</a></li>
            <li><a href="#single" data-sectionparent="#lease">@MINI.Resources.Shopping.FinancialServices.LeaseMenu4</a></li>
            <li><a href="#kilometre" data-sectionparent="#lease">@MINI.Resources.Shopping.FinancialServices.LeaseMenu5</a></li>
        </ul>
    </div>
    <div id="overview" class="content-section-content lease-content">
        <div class="box beige">
            <h2>@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.LeaseTitle1)</h2>
            <h3>@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.LeaseSubTitle1)</h3>
            <p>@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.LeaseBody1)</p>
        </div>
    </div>

    <div id="standard-lease" class="content-section-content lease-content" style="display:none;">
        <div class="box white">
            <h2>@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.LeaseTitle2)</h2>
            <div id="standard-lease-readmore">
                <p>@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.LeaseBody2)</p>
                <hr />
                <h4>@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.HypotheticalTitle)</h4>
                <p class="hypothetical">@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.LeaseExample2)</p>
            </div>
            
        </div>
        <img src="@Url.ContentVersioned("~/Public/img/content/financial-services/standard-img.png")" />
    </div>

    <div id="multiple-lease" class="content-section-content lease-content" style="display:none;">
        <div class="box red">
            <h2>@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.LeaseTitle3)</h2>
            <div id="multiple-lease-readmore">
                <p>@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.LeaseBody3)</p>
                <hr />
                <h4>@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.HypotheticalTitle)</h4>
                <p class="hypothetical">@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.LeaseExample3)</p>
            </div>
        </div>
    </div>

    <div id="single" class="content-section-content lease-content" style="display:none;">
        <div class="box orange">
            <h2>@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.LeaseTitle4)</h2>
            <div id="single-readmore">
                <p>@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.LeaseBody4)</p>
                <hr />
                <h4>@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.HypotheticalTitle)</h4>
                <p class="hypothetical">@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.LeaseExample4)</p>
            </div>
        </div>
        <img src="@Url.ContentVersioned("~/Public/img/content/financial-services/single-img.png")" />
    </div>

    <div id="kilometre" class="content-section-content lease-content" style="display:none;">
        <div class="box red">
            <h2>@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.LeaseTitle5)</h2>
            <div id="kilometre-readmore">
                <p>@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.LeaseBody5)</p>
                <hr />
                <h4>@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.HypotheticalTitle)</h4>
                <p class="hypothetical">@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.LeaseExample5)</p>
            </div>
        </div>
    </div>
</div>

<div id="finance" class="content-section content-offset content-indent">
    <div class="content-section-menu">
        <h3 class="white">@MINI.Resources.Shopping.FinancialServices.FinanceLbl</h3>
        <ul class="nav red-bottom">
            <li><a href="#fin-overview" data-sectionparent="#finance">@MINI.Resources.Shopping.FinancialServices.FinanceMenu1</a></li>
            <li><a href="#fin-standard" data-sectionparent="#finance">@MINI.Resources.Shopping.FinancialServices.FinanceMenu2</a></li>
            <li><a href="#ownerschoice" data-sectionparent="#finance">@MINI.Resources.Shopping.FinancialServices.FinanceMenu3</a></li>
        </ul>
    </div>

    <div id="fin-overview" class="content-section-content lease-content">
        <div class="box red">
            <h2>@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.FinanceTitle1)</h2>
            <h3>@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.FinanceSubTitle1)</h3>
            <p>@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.FinanceBody1)</p>
        </div>    
        <img src="@Url.ContentVersioned("~/Public/img/content/financial-services/fin-overview-img.png")" />
    </div>

    <div id="fin-standard" class="content-section-content lease-content" style="display:none;">
        <div class="box blue">
            <h2>@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.FinanceTitle2)</h2>
            <p>@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.FinanceBody2)</p>
        </div>    
    </div>

    <div id="ownerschoice" class="content-section-content lease-content" style="display:none;">
        <div class="box brown">
            <h2>@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.FinanceTitle3)</h2>
            <div id="ownerschoice-readmore">
                <p>@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.FinanceBody3)</p>
                <hr />
                <h4>@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.HypotheticalTitle)</h4>
                <p class="hypothetical">@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.FinanceExample3)</p>
            </div>
        </div>       
    </div>
</div>

<div id="protection" class="content-section content-offset content-indent">
    <div class="content-section-menu">
        <h3 class="white">@MINI.Resources.Shopping.FinancialServices.ProtectionTitle</h3>
        <ul class="nav red-bottom">
            <li><a href="#pro-overview" data-sectionparent="#protection">@MINI.Resources.Shopping.FinancialServices.ProtectionMenu1</a></li>
            <li><a href="#excesswear" data-sectionparent="#protection">@MINI.Resources.Shopping.FinancialServices.ProtectionMenu2</a></li>
            <li><a href="#tirerim" data-sectionparent="#protection">@MINI.Resources.Shopping.FinancialServices.ProtectionMenu3</a></li>
            <li><a href="#appearance" data-sectionparent="#protection">@MINI.Resources.Shopping.FinancialServices.ProtectionMenu4</a></li>
            <li><a href="#antitheft" data-sectionparent="#protection">@MINI.Resources.Shopping.FinancialServices.ProtectionMenu5</a></li>
            <li><a href="#lifedisability" data-sectionparent="#protection">@MINI.Resources.Shopping.FinancialServices.ProtectionMenu6</a></li>
            <li><a href="#homeauto" data-sectionparent="#protection">@MINI.Resources.Shopping.FinancialServices.ProtectionMenu7</a></li>
        </ul>
    </div>
    <div id="pro-overview" class="content-section-content lease-content protection-content">
        <div class="box red">
            <h2>@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.ProtectionTitle1)</h2>
            <h3>@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.ProtectionSubTitle1)</h3>
            <p>@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.ProtectionBody1)</p>
        </div>    
        <img src="@Url.ContentVersioned("~/Public/img/content/financial-services/protectionoverview-img.png")" />   
    </div>
    <div id="excesswear" class="content-section-content lease-content protection-content" style="display:none;">
        <div class="box red">
            <h2>@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.ProtectionTitle2)</h2>
            <h3>@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.ProtectionSubTitle2)</h3>
            <p>@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.ProtectionBody2)</p>
        </div>    
    </div>
    <div id="tirerim" class="content-section-content lease-content protection-content" style="display:none;">
        <div class="box blue protection-tirerim">
            <h2 class="with-subtitle">@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.ProtectionTitle3)</h2>
            <h3>@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.ProtectionSubTitle3)</h3>
            <p>@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.ProtectionBody3)</p>
        </div>    
        <img src="@Url.ContentVersioned("~/Public/img/content/financial-services/tirerim-img.png")" />   
    </div>
    <div id="appearance" class="content-section-content lease-content protection-content" style="display:none;">
        <div class="box orange">
            <h2 class="with-subtitle">@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.ProtectionTitle4)</h2>
            <h3>@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.ProtectionSubTitle4)</h3>
            <p>@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.ProtectionBody4)</p>
        </div> 
        <img src="@Url.ContentVersioned("~/Public/img/content/financial-services/appearance-img.png")" />   
    </div>
    <div id="antitheft" class="content-section-content lease-content protection-content" style="display:none;">
        <div class="box yellow">
            <h2 class="with-subtitle">@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.ProtectionTitle5)</h2>
            <h3>@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.ProtectionSubTitle5)</h3>
            <p>@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.ProtectionBody5)</p>
        </div> 
        <img src="@Url.ContentVersioned("~/Public/img/content/financial-services/antitheft-img.png")" />   
    </div>
    <div id="lifedisability" class="content-section-content lease-content protection-content" style="display:none;">
        <div class="box green">
            <h2 class="with-subtitle">@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.ProtectionTitle6)</h2>
            <h3>@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.ProtectionSubTitle6)</h3>
            <p>@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.ProtectionBody6)</p>
        </div> 
        <img src="@Url.ContentVersioned("~/Public/img/content/financial-services/life-img.png")" />   
    </div>
    <div id="homeauto" class="content-section-content lease-content protection-content" style="display:none;">
        <div class="box blue">
            <h2 class="with-subtitle">@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.ProtectionTitle7)</h2>
            <h3>@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.ProtectionSubTitle7)</h3>
            <p>@MvcHtmlString.Create(MINI.Resources.Shopping.FinancialServices.ProtectionBody7)</p>
        </div> 
    </div>
</div>

@section AdditionalScripts {
    var contentPage = new MINI.ContentPage({lang: '@MINI.App.CurrentUserLanguage',contentNavContainerEl: '#financial-services-nav',containers:'#lease,#finance,#protection'});
}