@model List<MINI.Models.NextSummaryViewModel>
<div id="SummaryContainer">
@{
    MINI.Models.SettingsViewModel SettingsViewModel = new MINI.Models.SettingsViewModel();
    string foundIn = "";
    if (MINI.App.CurrentUserLanguage == "en")
    {
        foundIn = "MINI's " + MINI.Resources.Shopping.MININext.FoundInLabel + " " + SettingsViewModel.EnProvinces.SingleOrDefault(x => x.Value == MINI.App.CurrentUserProvince).Text;
    }
    else
    {
        foundIn = "MINI's " + MINI.Resources.Shopping.MININext.FoundInLabel + " " + SettingsViewModel.FrProvinces.SingleOrDefault(x => x.Value == MINI.App.CurrentUserProvince).Text;
    }

    if (MINI.App.CurrentRetailerSite!=null && !String.IsNullOrEmpty(MINI.App.CurrentRetailerSite.Retailer.Name))
    {
        foundIn = "MINI's " + MINI.Resources.Shopping.MININext.FoundAtLabel + " " + MINI.App.CurrentRetailerSite.Retailer.Name;
    }
    }
    <h3>@foundIn</h3>
    <br />
    <ul>
        @foreach (var model in Model)
        {
            <li><a class="viewall-summary-click" data-model-name="@Html.Raw(model.Model.Name)" href="javascript:void">
                <span class="summary-model-name">
                    @Html.Raw(model.Model.Name)</span><span class="model-count">(@Html.Raw(model.Count))</span>
            </a><a data-model-name="@Html.Raw(model.Model.Name)" class="viewall-summary-click" href="javascript:void(0);">
                <div class="vehicleBox vehicle-bg-@Html.Raw(model.Model.ECode)">
                </div>
            </a>
                @foreach (var v in model.NextSummaryVehicleViewModels)
                {
                    <div class="vehicle">
                        <div class="summary-vehicle-name">
                            <a class="vehicle-summary-click" data-model-name="@Html.Raw(model.Model.Name)" data-vehicle-name="@Html.Raw(v.FullVehicle)" href="javascript:void(0);">@Html.Raw(v.ShortVehicleName)<span
                                class="vehicle-count">(@Html.Raw(v.Count))</span></a></div>
                    </div>
                }
                <div class="viewAllPos">
                    @Html.ButtonLink(HtmlHelperExtensions.ButtonLinkType.VIEWDETAILS, "javascript:void(0)", MINI.Resources.Shopping.MININext.ViewAllButton, "viewall-summary-click", new { data_model_name = Html.Raw(model.Model.Name), @id = "btn-new-search" })
                </div>
            </li>
        }
    </ul>
</div>
