@model MINI.Models.NextViewModel
<link href="/Public/css/next.css" rel="stylesheet" type="text/css" />
<link href="//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css" rel="stylesheet">
<link href="/Public/css/checkList.css" rel="stylesheet" type="text/css" />

<div id="next-container">
    <div id="filter-box-left">
        <div class="clear item">
            <div class="btn-group">
                <div class="btn-group">
                    @Html.ButtonLink(HtmlHelperExtensions.ButtonLinkType.NEWSEARCH, "javascript:void(0)", MINI.Resources.Shopping.MININext.NewSearchButton, "btn-default", new { @id = "btn-new-search" })
                </div>
            </div>
        </div>
        <div class="clear item">
            <div class="btn-group">
                @Html.ButtonLink(HtmlHelperExtensions.ButtonLinkType.CLEAR, "javascript:void(0)", MINI.Resources.Shopping.MININext.ClearAllButton, "btn-default", new { @id = "btn-clear" })
            </div>
        </div>
        <div class="clear item" style="display: none">
            <div class="btn-group">
                <a class="btn btn-filter-model" href="#"><i class="icon-plus"></i><span>@MvcHtmlString.Create(MINI.Resources.Shopping.MININext.ModelFilterLabel)</span></a>
            </div>
            <div id="ModelCheckboxList">
                @foreach (var item in Model.ModelList)
                {
                    <div class="filter-item">
                        @Html.RadioButton("ModelList", item.Name, item.Checked, new { id = item.Name })
                        @Html.Label(item.Name)
                        @Html.DisplayFor(x => item.CountLabel)
                        <div id="VehicleCheckBoxList-@item.Name.Replace(" ", "-")">
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="clear item" style="display: none">
            <div class="btn-group">
                <a class="btn btn-filter-model" href="#"><i class="icon-plus"></i><span>@MvcHtmlString.Create(MINI.Resources.Shopping.MININext.VehicleLabel)</span></a>
            </div>
            <div id="VehicleCheckboxList">
                @Html.Partial("Mini-Next-CheckBoxList", Model.VehicleList)
            </div>
        </div>
        <div class="clear item">
            <div class="btn-group">
                <a class="btn btn-filter-transmission" href="javascript:void(0)"><i class="icon-plus">
                </i><span>@MvcHtmlString.Create(MINI.Resources.Shopping.MININext.TransmissionLabel)</span></a>
            </div>
            <div id="TransmissionCheckboxList">
                @for (int i = 0; i < Model.TransmissionList.Count(); i++)
                {
                    <div class="filter-item">
                        @Html.CheckBoxFor(x => x.TransmissionList[i].Checked, new { id = Model.TransmissionList[i].Name })
                        @Html.LabelFor(x => x.TransmissionList[i].Checked, Model.TransmissionList[i].Name, new { @for = Model.TransmissionList[i].Name })
                    </div>
                }
            </div>
        </div>

        <div class="clear item">
            <div class="btn-group">
                <a class="btn btn-filter-vehicle-year" href="javascript:void(0)"><i class="icon-plus">
                </i><span>@MvcHtmlString.Create(MINI.Resources.Shopping.MININext.YearLabel)</span></a>
            </div>
            <div id="YearCheckboxList">
                @for (int i = 0; i < Model.YearList.Count(); i++)
                {
                    <div class="filter-item filter-item-@Model.YearList[i].Name">
                        @Html.CheckBoxFor(x => x.YearList[i].Checked, new { id = Model.YearList[i].Name })
                        @Html.LabelFor(x => x.YearList[i].Checked, Model.YearList[i].Name, new { @for = Model.YearList[i].Name })
                        @*@Model.YearList[i].CountLabel*@
                        @*(<span class="count-year-@Model.YearList[i].Name"></span>)*@
                    </div>
                }
            </div>
        </div>
        <div class="clear item">
            <div class="btn-group">
                <a class="btn btn-filter-price-range" href="javascript:void(0)"><i class="icon-plus">
                </i><span>@MvcHtmlString.Create(MINI.Resources.Shopping.MININext.PriceLabel)</span>
                </a>
            </div>
            <div id="PriceRangeCheckboxList">
                @for (int i = 0; i < Model.PriceRangeList.Count(); i++)
                {
                    <div class="filter-item">
                        @Html.CheckBoxFor(x => x.PriceRangeList[i].Checked, new { id = Model.PriceRangeList[i].Name })
                        @Html.LabelFor(x => x.PriceRangeList[i].Checked, (@MINI.App.CurrentUserLanguage == "fr" ? Model.PriceRangeList[i].NameFR : Model.PriceRangeList[i].Name), new { @for = Model.PriceRangeList[i].Name })
                    </div>
                }
            </div>
        </div>
        <div class="clear item">
            <div class="btn-group">
                <a class="btn btn-filter-kilometer" href="javascript:void(0)"><i class="icon-plus"></i>
                    <span>@MvcHtmlString.Create(MINI.Resources.Shopping.MININext.KMLongLabel)</span>
                </a>
            </div>
            <div id="KilometerCheckboxList">
                @for (int i = 0; i < Model.KilometerRangeList.Count(); i++)
                {
                    <div class="filter-item">
                        @Html.CheckBoxFor(x => x.KilometerRangeList[i].Checked, new { id = Model.KilometerRangeList[i].Name })
                            @Html.LabelFor(x => x.KilometerRangeList[i].Checked, (@MINI.App.CurrentUserLanguage == "fr" ? Model.KilometerRangeList[i].NameFR : Model.KilometerRangeList[i].Name), new { @for = Model.KilometerRangeList[i].Name })
                    </div>
                }
            </div>
        </div>
        <div class="clear item">
            <div class="btn-group">
                <a class="btn btn-filter-colour" href="javascript:void(0)"><i class="icon-plus"></i><span>
                    @MvcHtmlString.Create(MINI.Resources.Shopping.MININext.ColourLabel)</span> </a>
            </div>
            <div id="ColourCheckboxList">
                @for (int i = 0; i < Model.ColourList.Count(); i++)
                {
                    <div class="filter-item">
                        @Html.CheckBoxFor(x => x.ColourList[i].Checked, new { id = Model.ColourList[i].Name })
                        @Html.LabelFor(x => x.ColourList[i].Checked, (@MINI.App.CurrentUserLanguage == "fr" ? Model.ColourList[i].NameFR : Model.ColourList[i].Name), new { @for = (@MINI.App.CurrentUserLanguage == "fr" ? Model.ColourList[i].NameFR : Model.ColourList[i].Name) })
                    </div>
                }</div>
            @*</div>*@
        </div>       

        <div class="clear item retailer-filter-box">
            <div class="btn-group">
                <a class="btn btn-filter-retailer" href="javascript:void(0)"><i class="icon-plus"></i>
                    <span>@MvcHtmlString.Create(MINI.Resources.Shopping.MININext.RetailerFilterLabel)</span></a>
            </div>
            <div id="ReatailerCheckboxList">
                @for (int i = 0; i < Model.RetailerList.Count(); i++)
                {
                    <div class="filter-item">
                        @Html.CheckBoxFor(x => x.RetailerList[i].Checked, new { id = Model.RetailerList[i].Value })
                        @Html.LabelFor(x => x.RetailerList[i].Checked, Model.RetailerList[i].Name, new { @for = Model.RetailerList[i].Value })
                    </div>
                }
            </div>
        </div>

        <div class="clear item province-filter-box">
            <div class="btn-group">
                <a class="btn btn-filter-province" href="javascript:void(0)"><i class="icon-plus"></i>
                    <span>@MvcHtmlString.Create(MINI.Resources.Shopping.MININext.ProvinceFilterLabel)</span></a>
            </div>
            
            <div id="ProvinceCheckboxList">
            <div class="filter-item" style="display:none">
            <input id="checkAllProvince" name="checkAllProvince" type="checkbox">
            <label for="checkAllProvince">@MvcHtmlString.Create(MINI.Resources.Shopping.MININext.SelectAllLabel)</label>
            </div>
                @for (int i = 0; i < Model.ProvinceList.Count(); i++)
                {
                    <div class="filter-item">
                        @Html.CheckBoxFor(x => x.ProvinceList[i].Checked, new { id = Model.ProvinceList[i].Value })
                        @Html.LabelFor(x => x.ProvinceList[i].Checked, Model.ProvinceList[i].Name, new { @for = Model.ProvinceList[i].Value })
                    </div>
                }
            </div>
        </div>
        
    </div>
    <div id="filter-box-right">
@*    <div id="FILTER_MODEL">
        </div>
        <div id="FILTER_VEHICLE">
        </div>
        <div id="FILTER_YEAR">
        </div>
        <div id="FILTER_PRICE">
        </div>
        <div id="FILTER_KILOMETER">
        </div>
        <div id="FILTER_COLOUR">
        </div>
        <div id="FILTER_PROVINCE">
        </div>
        <div id="FILTER_RETAILER">
        </div>*@
        <div id="ListResult">
            @{
                HttpCookie cookie = HttpContext.Current.Request.Cookies.Get("FILTER_MODEL");
                if (cookie == null)
                {
                    int retailerID = 0;
                    try { retailerID = @MINI.App.CurrentRetailerSite.Retailer.InternalRetailerID; }
                    catch { }
                    Html.RenderAction("ShowSummary", "Next", new { lang = @MINI.App.Lang, RetailerID = retailerID });
                }
                else
                {
                    if (Model.ResultList != null)
                    {
                @Html.Partial("Mini-Next-ListResult", Model.ResultList);
                    }
                }
            }
        </div>
    </div>
</div>
