@model Auto.Web.Models.RegisterModel
@using Recaptcha;
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@Auto.Web.Resources.Global.Register</h1>
    @*<h1>@ViewBag.Title.</h1>*@
    @*<h2>Create a new account.</h2>*@
</hgroup>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend></legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
            <li>
                <div class="editor-label">
                    Are you a human?
                </div>
                <div class="editor-field">
                    @Html.Raw(Html.GenerateCaptcha("captcha", "clean"))
                    @Html.ValidationMessage("captcha","Invalid reCAPTCHA validation!")
                </div>
            </li>
        </ol>
        <input type="submit" value="Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
