@model List<MINI.Models.CCRCLocationViewModel>
@{
    ViewBag.Title = MINI.Resources.Owners.CCRC.BrowserTitle;
}
<div id="findretailer-page">


@{
    List<MINI.Models.FloatingNavViewModel> model = new List<MINI.Models.FloatingNavViewModel>();
    model.Add(new MINI.Models.FloatingNavViewModel() { Label = MINI.Resources.Owners.CCRC.OverviewLbl, Target = "#service-ccrc" });
    model.Add(new MINI.Models.FloatingNavViewModel() { Label = MINI.Resources.Owners.CCRC.CCRCLbl, Target = "#ccrc-search" });

    ViewData["NavTitle"] = MINI.Resources.Owners.CCRC.BrowserTitle;
    
    
    Html.RenderPartial("_ContentFloatingNav", model);
}

<div id="ccrc-intro" class="content-intro content-offset content-indent">
    <div class="box blue">
        <h1>@MvcHtmlString.Create(MINI.Resources.Owners.CCRC.ServiceCCRCTitle1)</h1>
    </div>
    <img src="@Url.ContentVersioned("~/Public/img/ccrc/intro-car.png")" class="car" />
</div>

@{ Html.RenderPartial("_InPageNav", "service-ccrc"); }

<div id="service-ccrc" class="content-section content-offset content-indent ccrc-content">
    <div class="content-section-menu service-nav">
        <h3 class="blue">@MINI.Resources.Owners.CCRC.ServiceCCRCTitle</h3>
        <ul class="nav blue-bottom">
            <li><a href="#ccrc-overview" onclick="javascript:void(0);">@MINI.Resources.Owners.CCRC.ServiceCCRCMenu1</a></li>
        </ul>
    </div>

    <div id="ccrc-overview" class="content-section-content service-content">
        <div class="box blue">
            <h2 class="white mb0 mt0">@MvcHtmlString.Create(MINI.Resources.Owners.CCRC.ServiceCCRCTitle1)</h2>
            <h3 class="blue mt0">@MvcHtmlString.Create(MINI.Resources.Owners.CCRC.ServiceCCRCSubtitle1)</h3>
            @MvcHtmlString.Create(MINI.Resources.Owners.CCRC.ServiceCCRCBody1)
            
        </div>
        <img src="@Url.ContentVersioned("~/Public/img/ccrc/intro-car.png")" class="overlay" />
    </div>

    <div id="ccrc-accident" class="content-section-content service-content">
        <div class="box blue">
            <h2 class="white mb0 mt0">@MvcHtmlString.Create(MINI.Resources.Owners.CCRC.ServiceCCRCTitle2)</h2>
            @MvcHtmlString.Create(MINI.Resources.Owners.CCRC.ServiceCCRCBody2)

            @Html.ButtonLink(HtmlHelperExtensions.ButtonLinkType.CCRC, "#ccrc-search", MINI.Resources.Owners.CCRC.CCRCBtnLbl, "ccrc-down-accessories btn-md pull-left", null)
        </div>
    </div>

    <div id="ccrc-safety" class="content-section-content service-content">
        <div class="box blue">
            <h2 class="mb0 mt0">@MvcHtmlString.Create(MINI.Resources.Owners.CCRC.ServiceCCRCTitle3)</h2>
            <h3 class="blue mt0">@MvcHtmlString.Create(MINI.Resources.Owners.CCRC.ServiceCCRCSubtitle3)</h3>
            @MvcHtmlString.Create(MINI.Resources.Owners.CCRC.ServiceCCRCBody3)
        </div>
    </div>

    <div id="ccrc-writing" class="content-section-content service-content">
        <div class="box blue">
            <h2 class="mb0 mt0">@MvcHtmlString.Create(MINI.Resources.Owners.CCRC.ServiceCCRCTitle4)</h2>
            <h3 class="blue mt0">@MvcHtmlString.Create(MINI.Resources.Owners.CCRC.ServiceCCRCSubtitle4)</h3>
            @MvcHtmlString.Create(MINI.Resources.Owners.CCRC.ServiceCCRCBody4)
        </div>
    </div>

    <div id="ccrc-yours" class="content-section-content service-content">
        <div class="box blue">
            <h2 class="mb0 mt0">@MvcHtmlString.Create(MINI.Resources.Owners.CCRC.ServiceCCRCTitle5)</h2>
            <h3 class="blue mt0">@MvcHtmlString.Create(MINI.Resources.Owners.CCRC.ServiceCCRCSubtitle5)</h3>
            @MvcHtmlString.Create(MINI.Resources.Owners.CCRC.ServiceCCRCBody5)
        </div>
    </div>

    <div id="ccrc-notnormal" class="content-section-content service-content">
        <div class="box blue">
            <h2 class="mb0 mt0">@MvcHtmlString.Create(MINI.Resources.Owners.CCRC.ServiceCCRCTitle6)</h2>
            <h3 class="blue mt0">@MvcHtmlString.Create(MINI.Resources.Owners.CCRC.ServiceCCRCSubtitle6)</h3>
            @MvcHtmlString.Create(MINI.Resources.Owners.CCRC.ServiceCCRCBody6)
        </div>
    </div>
</div>

<div id="ccrc-search">
    <div class="left-offset left-indent">
        <h2>@MINI.Resources.Owners.CCRC.PageTitle</h2>
        <h5>@MINI.Resources.Owners.CCRC.SubTitle</h5>
    </div>
    <div id="find" class="left-offset">
        <div id="search-ui">
            @{ Html.RenderPartial("_SearchBar", new MINI.Models.CCRCSearchViewModel());}
            <div id="search-results">
                <div id="map-canvas">
                </div>
                <div id="results">
                </div>
            </div>
        </div>
    </div>

</div>
</div>

@{ Html.RenderAction("ServiceAppointmentModal", "Form", new { lang = @MINI.App.Lang });}
@section AdditionalScripts {
    var contentPage = new MINI.ContentPage({lang: '@MINI.App.CurrentUserLanguage',containers:'#service-ccrc,#ccrc-search'});
}
@section AdditionalMapsScripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxI2u34Gzuzd2aTWVBtxKu3FteqyAYUuY&sensor=true"
        type="text/javascript"></script>
    <script src="@Url.Content("~/Public/js/vendor/infobox_packed.js")"></script>
    <script src="@Url.Content("~/Public/js/vendor/markerclusterer_packed.js")"></script>
    <script>
        function initialize() {
            var strings = {
                'bookTestDriveLbl':'@MINI.Resources.Homepage.Index.BookTestQL',
                'directionsLbl': '@MINI.Resources.About.RetailerContact.DirectionsLbl',
                'serviceLbl': '@MINI.Resources.Owners.Service.ToGoBtnLbn',
                'dealerSiteLbl': '@MINI.Resources.Retailers.Index.DealerWebsiteLbl',
                'closeLbl':'@MINI.Resources.Forms.Index.CloseLbl'
            };
            FindRetailer.init({ 'province': '@CookieHelpers.UserProvince()', 'data': '@Html.Raw(Model.ToJson())', 'strings': strings, 'lang': '@MINI.App.CurrentUserLanguage.ToUpperInvariant()', 'type': 'CCRC' });
        }

        google.maps.event.addDomListener(window, 'load', initialize);


    </script>
    @{
        string KMToHappiness = @MINI.Resources.Retailers.Index.KMToHappiness;
    }
    <script type="text/template" id="result-template">

  <div id="r-<%= data.LocationID %>" data-id="<%= counter %>" class="results-item clearfix">
    <div class="content">
    <a href="#" id="r-<%= counter %>" data-id="<%= data.LocationID %>">
      <h4><%= data.Name %></h4>
      <p class="white">
        <%= data.StreetAddress %><br />
        <%= data.City %>, <%= data.Province %>, <%= data.Postal %><br />
      </p>
       <% if(data.DistanceFrom) { %>
        <p class="red"><%= data.DistanceFrom %> @KMToHappiness</p>
       <% } %>
    </a>
    </div>
  </div>
    </script>
}
