@{
  ViewBag.Title = MINI.Resources.Owners.Service.PageTitle;
}

@{
    List<MINI.Models.FloatingNavViewModel> model = new List<MINI.Models.FloatingNavViewModel>();
    model.Add(new MINI.Models.FloatingNavViewModel() { Label = MINI.Resources.Owners.Service.ServicePackageTitle, Target = "#service-packages" });
    model.Add(new MINI.Models.FloatingNavViewModel() { Label = MINI.Resources.Owners.Service.ServiceWarrantyTitle, Target = "#service-warranties" });
    model.Add(new MINI.Models.FloatingNavViewModel() { Label = MINI.Resources.Owners.Service.ServiceMaintTitle, Target = "#service-maint" });

    ViewData["NavTitle"] = MINI.Resources.Owners.Service.PageTitle;
    
    
    Html.RenderPartial("_ContentFloatingNav", model);
}

<div id="miniservice-intro" class="content-intro content-offset content-indent">
    <div id="service-ci" class="box box-grey">
        <h1>@MvcHtmlString.Create(MINI.Resources.Owners.Service.PageTitle)</h1>
        <h3>@MvcHtmlString.Create(MINI.Resources.Owners.Service.PageSubTitle)</h3>
    </div>
</div>

@{ Html.RenderPartial("_InPageNav", "service-packages"); }

@{
            
    string retailerMessage = MINI.App.CurrentRetailerSite != null ? string.Format("visit {0}",MINI.App.CurrentRetailerSite.Retailer.Name) : MINI.Resources.Owners.Service.RetailerGeneric;
}
<div id="service-packages" class="content-section content-offset content-indent">
    <div class="content-section-menu service-nav">
        <h3 class="red">@MINI.Resources.Owners.Service.ServicePackageTitle</h3>
        <ul class="nav red-bottom">
            <li><a href="#service-packages-overview" data-sectionparent="#service-packages">@MINI.Resources.Owners.Service.ServicePackageMenu1</a></li>
        </ul>
    </div>

    <div id="service-packages-overview" class="content-section-content">
        <div class="box red">
            <h2 class="white mb0 mt0">@MvcHtmlString.Create(MINI.Resources.Owners.Service.ServicePackageTitle1)</h2>
            <h3 class="red mt0">@MvcHtmlString.Create(MINI.Resources.Owners.Service.ServicePackageSubtitle1)</h3>
            @MvcHtmlString.Create(string.Format(MINI.Resources.Owners.Service.ServicePackageBody1, retailerMessage))
        </div>
    </div>
</div>

<div id="service-warranties" class="content-section content-offset content-indent">
    <div class="content-section-menu service-nav">
        <h3 class="red">@MINI.Resources.Owners.Service.ServiceWarrantyTitle</h3>
        <ul class="nav red-bottom">
            <li><a href="#service-warranty-standard" data-sectionparent="#service-warranties">@MINI.Resources.Owners.Service.ServiceWarrantyMenu1</a></li>
            <li><a href="#service-warranty-extended" data-sectionparent="#service-warranties" data-heigh="104">@MINI.Resources.Owners.Service.ServiceWarrantyMenu2</a></li>
        </ul>
    </div>

    <div id="service-warranty-standard" class="content-section-content service-content">
        <div class="box red">
            <h2 class="white mb0 mt0">@MvcHtmlString.Create(MINI.Resources.Owners.Service.ServiceWarrantyTitle1)</h2>
            <h3 class="red mt0">@MvcHtmlString.Create(MINI.Resources.Owners.Service.ServiceWarrantySubtitle1)</h3>
            <div id="service-warranty-standard-readmore">
                @MvcHtmlString.Create(string.Format(MINI.Resources.Owners.Service.ServiceWarrantyBody1,retailerMessage))
            </div>
        </div>
    </div>

    <div id="service-warranty-extended" class="content-section-content service-content" style="display:none;">
        <div class="box white">
            <h2 class="white mb0 mt0">@MvcHtmlString.Create(MINI.Resources.Owners.Service.ServiceWarrantyTitle2)</h2>
            <h3 class="grey mt0">@MvcHtmlString.Create(MINI.Resources.Owners.Service.ServiceWarrantySubtitle2)</h3>
            @MvcHtmlString.Create(string.Format(MINI.Resources.Owners.Service.ServiceWarrantyBody2, retailerMessage))
            <img src="@Url.ContentVersioned("~/Public/img/content/mini-service/warranty-extended-overlay.png")" />
        </div>
    </div>
</div>

<div id="service-maint" class="content-section content-offset content-indent">
    <div class="content-section-menu service-nav">
        <h3 class="red">@MINI.Resources.Owners.Service.ServiceMaintTitle</h3>
        <ul class="nav red-bottom">
            <li><a href="#service-maint-cbs" data-sectionparent="#service-maint">@MINI.Resources.Owners.Service.ServiceMaintMenu1</a></li>
            <li><a href="#service-maint-inclusive" data-sectionparent="#service-maint">@MINI.Resources.Owners.Service.ServiceMaintMenu2</a></li>
            <li><a href="#service-maint-inclusiveplus" data-sectionparent="#service-maint">@MINI.Resources.Owners.Service.ServiceMaintMenu3</a></li>
        </ul>
    </div>

    <div id="service-maint-cbs" class="content-section-content service-content">
        <div class="box grey">
            <h2 class="white mb0 mt0">@MvcHtmlString.Create(MINI.Resources.Owners.Service.ServiceMaintTitle1)</h2>
            <h3 class="grey mt0">@MvcHtmlString.Create(MINI.Resources.Owners.Service.ServiceMaintSubtitle1)</h3>
            @MvcHtmlString.Create(string.Format(MINI.Resources.Owners.Service.ServiceMaintBody1, retailerMessage))

            @Html.ButtonLink(HtmlHelperExtensions.ButtonLinkType.SCHEDULESERVICE, "#serviceAppointmentModal", MINI.Resources.Owners.Service.ToGoBtnLbn, "btn-md pull-left", new { data_toggle = "modal" })
            
        </div>
    </div>

    <div id="service-maint-inclusive" class="content-section-content service-content" style="display:none;">
        <div class="box orange">
            <h2 class="white mb0 mt0">@MvcHtmlString.Create(MINI.Resources.Owners.Service.ServiceMaintTitle2)</h2>
            <h3 class="orange mt0">@MvcHtmlString.Create(MINI.Resources.Owners.Service.ServiceMaintSubtitle2)</h3>
            @MvcHtmlString.Create(string.Format(MINI.Resources.Owners.Service.ServiceMaintBody2, retailerMessage))
        </div>
    </div>

    <div id="service-maint-inclusiveplus" class="content-section-content service-content" style="display:none;">
        <div class="box orange">
            <h2 class="white mb0 mt0">@MvcHtmlString.Create(MINI.Resources.Owners.Service.ServiceMaintTitle3)</h2>
            <h3 class="orange mt0">@MvcHtmlString.Create(MINI.Resources.Owners.Service.ServiceMaintSubtitle3)</h3>
            @MvcHtmlString.Create(string.Format(MINI.Resources.Owners.Service.ServiceMaintBody3, retailerMessage))
            <img src="@Url.ContentVersioned("~/Public/img/content/mini-service/service-inclusiveplus-overlay.png")" />
        </div>
    </div>
</div>

@section AdditionalScripts {
    
    var contentPage = new MINI.ContentPage({lang: '@MINI.App.CurrentUserLanguage',containers:'#service-packages,#service-warranties,#service-maint'});

}
@*@{ Html.RenderAction("ServiceAppointment", "Form", new { lang = @MINI.App.Lang });}
*@