@{
  ViewBag.Title = @MINI.Resources.Owners.Accessories.BrowserTitle;
}

@{
    List<MINI.Models.FloatingNavViewModel> model = new List<MINI.Models.FloatingNavViewModel>();
    model.Add(new MINI.Models.FloatingNavViewModel() { Label = MINI.Resources.Owners.Accessories.AccessoriesLabel  , Target = "#accessories" });
    model.Add(new MINI.Models.FloatingNavViewModel() { Label = MINI.Resources.Owners.Accessories.TireWheelLabel, Target = "#tires-wheels" });

    ViewData["NavTitle"] = MINI.Resources.Owners.Accessories.PageTitle;

    Html.RenderPartial("_ContentFloatingNav", model);
}

<div id="parts-intro" class="content-intro content-offset content-indent">
    <div class="box blue">
        <h2 class="blue">@MvcHtmlString.Create(MINI.Resources.Owners.Accessories.PageTitle)</h2>
        <h3 class="white">@MvcHtmlString.Create(MINI.Resources.Owners.Accessories.PageSubTitle)</h3>
    </div>
    <img src="@Url.ContentVersioned("~/Public/img/content/partsintro-overlay.png")" />
</div>

@{ Html.RenderPartial("_InPageNav", "accessories"); }

@{
            
    string retailerMessage = MINI.App.CurrentRetailerSite != null ? MINI.App.CurrentRetailerSite.Retailer.Name : MINI.Resources.Owners.Accessories.RetailerMessageGeneric;
    string fullRetailerMessage = string.Format(MINI.Resources.Owners.Accessories.RetailerMessage, retailerMessage);
}

<div id="accessories" class="content-section content-offset content-indent">
    <div class="content-section-menu">
        <h3 class="white">@MINI.Resources.Owners.Accessories.AccessoriesLabel</h3>
        <ul class="nav grey-bottom">
            <li><a href="#accessory-gallery" data-sectionparent="#accessories">@MINI.Resources.Owners.Accessories.AccessoryMenu1</a></li>
            <li><a href="#jcw-gallery" data-sectionparent="#accessories">@MINI.Resources.Owners.Accessories.JCWMenu2</a></li>
            <li><a href="#f56-gallery" data-sectionparent="#accessories">@MINI.Resources.Owners.Accessories.F56Menu1</a></li>
        </ul>
        <p class="smaller-text white">@MvcHtmlString.Create(fullRetailerMessage)</p>
    </div>
    <div id="accessory-gallery" class="content-section-content">
        <div id="accessories-gallery">
            <div id="column1">
                <a href="@Url.ContentVersioned("~/Public/img/content/accessories-gallery/1.jpg")" rel="prettyPhoto[accessories]"><img src="@Url.ContentVersioned("~/Public/img/content/accessories-gallery/1_t.jpg")" /></a>
                <a href="@Url.ContentVersioned("~/Public/img/content/accessories-gallery/2.jpg")" rel="prettyPhoto[accessories]"><img src="@Url.ContentVersioned("~/Public/img/content/accessories-gallery/2_t.jpg")" /></a>
                <a href="@Url.ContentVersioned("~/Public/img/content/accessories-gallery/6.jpg")" rel="prettyPhoto[accessories]"><img src="@Url.ContentVersioned("~/Public/img/content/accessories-gallery/6_t.jpg")" /></a>
                <a href="@Url.ContentVersioned("~/Public/img/content/accessories-gallery/7.jpg")" rel="prettyPhoto[accessories]"><img src="@Url.ContentVersioned("~/Public/img/content/accessories-gallery/7_t.jpg")" /></a>
                <a href="@Url.ContentVersioned("~/Public/img/content/accessories-gallery/10.jpg")" rel="prettyPhoto[accessories]"><img src="@Url.ContentVersioned("~/Public/img/content/accessories-gallery/10_t.jpg")" /></a>
       
            </div>
            <div id="column2">
                <a href="@Url.ContentVersioned("~/Public/img/content/accessories-gallery/3.jpg")" rel="prettyPhoto[accessories]"><img src="@Url.ContentVersioned("~/Public/img/content/accessories-gallery/3_t.jpg")" /></a>
                <a href="@Url.ContentVersioned("~/Public/img/content/accessories-gallery/4.jpg")" rel="prettyPhoto[accessories]"><img src="@Url.ContentVersioned("~/Public/img/content/accessories-gallery/4_t.jpg")" /></a>
                <a href="@Url.ContentVersioned("~/Public/img/content/accessories-gallery/8.jpg")" rel="prettyPhoto[accessories]"><img src="@Url.ContentVersioned("~/Public/img/content/accessories-gallery/8_t.jpg")" /></a>
                <a href="@Url.ContentVersioned("~/Public/img/content/accessories-gallery/11.jpg")" rel="prettyPhoto[accessories]"><img src="@Url.ContentVersioned("~/Public/img/content/accessories-gallery/11_t.jpg")" /></a>
            </div>
            <div id="column3">
                <a href="@Url.ContentVersioned("~/Public/img/content/accessories-gallery/5.jpg")" rel="prettyPhoto[accessories]"><img src="@Url.ContentVersioned("~/Public/img/content/accessories-gallery/5_t.jpg")" /></a>
                <a href="@Url.ContentVersioned("~/Public/img/content/accessories-gallery/9.jpg")" rel="prettyPhoto[accessories]"><img src="@Url.ContentVersioned("~/Public/img/content/accessories-gallery/9_t.jpg")" /></a>
                <a href="@Url.ContentVersioned("~/Public/img/content/accessories-gallery/12.jpg")" rel="prettyPhoto[accessories]"><img src="@Url.ContentVersioned("~/Public/img/content/accessories-gallery/12_t.jpg")" /></a>
            </div>
        
        </div>
    </div>
    <div id="jcw-gallery" class="content-section-content" style="display:none;">
        <div id="jcw-accessory-gallery" class="clearfix"> 
            <div id="row1">
                <a href="@Url.ContentVersioned("~/Public/img/content/jcw-gallery/1.jpg")" rel="prettyPhoto[jcw]"><img src="@Url.ContentVersioned("~/Public/img/content/jcw-gallery/1_t.jpg")" /></a>
                <div class="pull-left">
                    <a href="@Url.ContentVersioned("~/Public/img/content/jcw-gallery/2.jpg")" rel="prettyPhoto[jcw]"><img src="@Url.ContentVersioned("~/Public/img/content/jcw-gallery/2_t.jpg")" /></a><br />
                    <a href="@Url.ContentVersioned("~/Public/img/content/jcw-gallery/3.jpg")" rel="prettyPhoto[jcw]"><img src="@Url.ContentVersioned("~/Public/img/content/jcw-gallery/3_t.jpg")" /></a><a href="@Url.ContentVersioned("~/Public/img/content/jcw-gallery/4.jpg")" rel="prettyPhoto[jcw]"><img src="@Url.ContentVersioned("~/Public/img/content/jcw-gallery/4_t.jpg")" /></a>
                </div>
            </div>
            <div id="row2" class="pull-left">
                <a href="@Url.ContentVersioned("~/Public/img/content/jcw-gallery/5.jpg")" rel="prettyPhoto[jcw]"><img src="@Url.ContentVersioned("~/Public/img/content/jcw-gallery/5_t.jpg")" /></a>
                <a href="@Url.ContentVersioned("~/Public/img/content/jcw-gallery/6.jpg")" rel="prettyPhoto[jcw]"><img src="@Url.ContentVersioned("~/Public/img/content/jcw-gallery/6_t.jpg")" /></a>
                <a href="@Url.ContentVersioned("~/Public/img/content/jcw-gallery/7.jpg")" rel="prettyPhoto[jcw]"><img src="@Url.ContentVersioned("~/Public/img/content/jcw-gallery/7_t.jpg")" /></a>
                <a href="@Url.ContentVersioned("~/Public/img/content/jcw-gallery/8.jpg")" rel="prettyPhoto[jcw]"><img src="@Url.ContentVersioned("~/Public/img/content/jcw-gallery/8_t.jpg")" /></a>
            </div>
        </div>
    </div>
    <div id="f56-gallery" class="content-section-content" style="display:none;">
        <div id="f56-accessory-gallery" class="clearfix"> 
            <div id="f56-row1">
                <a href="@Url.ContentVersioned("~/Public/img/content/f56-gallery/1_"+ MINI.App.CurrentUserLanguage.ToLower() +".jpg")" rel="prettyPhoto[f56]"><img src="@Url.ContentVersioned("~/Public/img/content/f56-gallery/1_t.jpg")" /></a>
                <a href="@Url.ContentVersioned("~/Public/img/content/f56-gallery/2_" + MINI.App.CurrentUserLanguage.ToLower() + ".jpg")" rel="prettyPhoto[f56]"><img src="@Url.ContentVersioned("~/Public/img/content/f56-gallery/2_t.jpg")" /></a>
                <a href="@Url.ContentVersioned("~/Public/img/content/f56-gallery/3_" + MINI.App.CurrentUserLanguage.ToLower() + ".jpg")" rel="prettyPhoto[f56]"><img src="@Url.ContentVersioned("~/Public/img/content/f56-gallery/3_t.jpg")" /></a>
                <a href="@Url.ContentVersioned("~/Public/img/content/f56-gallery/4_" + MINI.App.CurrentUserLanguage.ToLower() + ".jpg")" rel="prettyPhoto[f56]"><img src="@Url.ContentVersioned("~/Public/img/content/f56-gallery/4_t.jpg")" /></a>
            </div>
            <div id="f56-row2">
                <a href="@Url.ContentVersioned("~/Public/img/content/f56-gallery/5_" + MINI.App.CurrentUserLanguage.ToLower() + ".jpg")" rel="prettyPhoto[f56]"><img src="@Url.ContentVersioned("~/Public/img/content/f56-gallery/5_t.jpg")" /></a>
                <a href="@Url.ContentVersioned("~/Public/img/content/f56-gallery/6_" + MINI.App.CurrentUserLanguage.ToLower() + ".jpg")" rel="prettyPhoto[f56]"><img src="@Url.ContentVersioned("~/Public/img/content/f56-gallery/6_t.jpg")" /></a>
                <a href="@Url.ContentVersioned("~/Public/img/content/f56-gallery/7_" + MINI.App.CurrentUserLanguage.ToLower() + ".jpg")" rel="prettyPhoto[f56]"><img src="@Url.ContentVersioned("~/Public/img/content/f56-gallery/7_t.jpg")" /></a>
                <a href="@Url.ContentVersioned("~/Public/img/content/f56-gallery/8_" + MINI.App.CurrentUserLanguage.ToLower() + ".jpg")" rel="prettyPhoto[f56]"><img src="@Url.ContentVersioned("~/Public/img/content/f56-gallery/8_t.jpg")" /></a>
            </div>
            <div id="f56-row3">
                <a href="@Url.ContentVersioned("~/Public/img/content/f56-gallery/9_" + MINI.App.CurrentUserLanguage.ToLower() + ".jpg")" rel="prettyPhoto[f56]"><img src="@Url.ContentVersioned("~/Public/img/content/f56-gallery/9_t.jpg")" /></a>
                <a href="@Url.ContentVersioned("~/Public/img/content/f56-gallery/10_" + MINI.App.CurrentUserLanguage.ToLower() + ".jpg")" rel="prettyPhoto[f56]"><img src="@Url.ContentVersioned("~/Public/img/content/f56-gallery/10_t.jpg")" /></a>
                <a href="@Url.ContentVersioned("~/Public/img/content/f56-gallery/11_" + MINI.App.CurrentUserLanguage.ToLower() + ".jpg")" rel="prettyPhoto[f56]"><img src="@Url.ContentVersioned("~/Public/img/content/f56-gallery/11_t.jpg")" /></a>
            </div>
        </div>
    </div>
</div>

<div id="tires-wheels" class="content-section content-offset content-indent">
    <div class="content-section-menu">
        <h3 class="grey">@MINI.Resources.Owners.Accessories.TireWheelLabel</h3>
        <ul class="nav grey-bottom">
            <li><a href="#cold-weather" data-sectionparent="#tires-wheels">@MINI.Resources.Owners.Accessories.TireWheelMenu1</a></li>
            @*<li><a href="#warm-weather" data-sectionparent="#tires-wheels">@MINI.Resources.Owners.Accessories.TireWheelMenu2</a></li>*@
        </ul>

        <p class="smaller-text white">@MvcHtmlString.Create(fullRetailerMessage)</p>
    </div>
    <div id="cold-weather" class="content-section-content">
        <div class="inner-content">
            <img src="@Url.ContentVersioned("~/Public/img/content/parts-wintertires.jpg")" />
            <h2 class="white">@MvcHtmlString.Create(MINI.Resources.Owners.Accessories.TireWheelColdWeatherTitle)</h2>
            <div class="cold-weather-left">
                <p>@MvcHtmlString.Create(MINI.Resources.Owners.Accessories.TireWheelColdWeatherBody)</p>
            </div>
            <div class="cold-weather-right">
                @Html.ButtonLink(HtmlHelperExtensions.ButtonLinkType.TIREWHEEL, MINI.Resources.Owners.Accessories.WinterTireLink, MINI.Resources.Owners.Accessories.TireWheelBtnLbl, "build-trigger btn-md btn-block pull-left", new {  })
                @Html.ButtonLink(HtmlHelperExtensions.ButtonLinkType.CONTACT, Url.Action("index", "retailer"), MINI.Resources.Owners.Accessories.RetailerBtnLbl, "btn-md btn-block pull-left", null)
                @Html.ButtonLink(HtmlHelperExtensions.ButtonLinkType.TESTDRIVE, "#serviceAppointmentModal", MINI.Resources.Owners.Accessories.BookBtnLbl, "btn-md btn-block pull-left", new { data_toggle = "modal" })
            </div>
        </div>
    </div>
    @*<div id="warm-weather class="content-section-content"></div>*@
</div>

@section AdditionalScripts {
    var contentPage = new MINI.ContentPage({lang: '@MINI.App.CurrentUserLanguage',containers:'#accessories,#tires-wheels'});
    @{Html.RenderPartial("_GalleryInitScript");}
}