@{
  ViewBag.Title = MINI.Resources.Owners.RoadsideCCRC.PageTitle;
}

@{
    List<MINI.Models.FloatingNavViewModel> model = new List<MINI.Models.FloatingNavViewModel>();
    model.Add(new MINI.Models.FloatingNavViewModel() { Label = MINI.Resources.Owners.RoadsideCCRC.ServiceRoadsideTitle, Target = "#service-roadside" });

    ViewData["NavTitle"] = MINI.Resources.Owners.RoadsideCCRC.PageTitle;
    
    
    Html.RenderPartial("_ContentFloatingNav", model);
}

<div id="roadside-intro" class="content-intro content-offset content-indent">
    <div class="box white">
        <h1>@MvcHtmlString.Create(MINI.Resources.Owners.RoadsideCCRC.PageTitle)</h1>
    </div>
</div>

@{ Html.RenderPartial("_InPageNav", "service-roadside"); }

@{ string retailerMessage = MINI.App.CurrentRetailerSite != null ? string.Format("visit {0}",MINI.App.CurrentRetailerSite.Retailer.Name) : MINI.Resources.Owners.Service.RetailerGeneric; }
<div id="service-roadside" class="content-section content-offset content-indent">
    <div class="content-section-menu service-nav">
        <h3 class="blue">@MINI.Resources.Owners.RoadsideCCRC.ServiceRoadsideTitle</h3>
        <ul class="nav blue-bottom">
            <li><a href="#service-roadside-overview" data-sectionparent="#service-roadside">@MINI.Resources.Owners.RoadsideCCRC.ServiceRoadsideMenu1</a></li>
            <li><a href="#service-roadside-accident" data-sectionparent="#service-roadside">@MINI.Resources.Owners.RoadsideCCRC.ServiceRoadsideMenu2</a></li>
        </ul>
    </div>

    <div id="service-roadside-overview" class="content-section-content service-content">
        <div class="box blue">
            <h2 class="white mb0 mt0">@MvcHtmlString.Create(MINI.Resources.Owners.RoadsideCCRC.ServiceRoadsideTitle1)</h2>
            <h3 class="blue mt0">@MvcHtmlString.Create(MINI.Resources.Owners.RoadsideCCRC.ServiceRoadsideSubtitle1)</h3>
            @MvcHtmlString.Create(string.Format(MINI.Resources.Owners.RoadsideCCRC.ServiceRoadsideBody1, retailerMessage))
        </div>
    </div>

    <div id="service-roadside-accident" class="content-section-content service-content" style="display:none;">
        <div class="box blue">
            <h2 class="white mb0 mt0">@MvcHtmlString.Create(MINI.Resources.Owners.RoadsideCCRC.ServiceRoadsideTitle2)</h2>
            <h3 class="blue mt0">@MvcHtmlString.Create(MINI.Resources.Owners.RoadsideCCRC.ServiceRoadsideSubtitle2)</h3>
            @MvcHtmlString.Create(string.Format(MINI.Resources.Owners.RoadsideCCRC.ServiceRoadsideBody2, retailerMessage))
        </div>
    </div>
</div>

@section AdditionalScripts {
    var contentPage = new MINI.ContentPage({lang: '@MINI.App.CurrentUserLanguage',containers:'#service-roadside'});
}