@using Auto.Web.Resources

@{
    ViewBag.Title = Global.Home;
}
@section featured {
    @*<section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
                @Global.LearnMore
            </p>
        </div>
    </section>*@
}

<p>
    Date:
    <input type="text" id="datepicker">
</p>



<h2>@Html.Raw(@ViewBag.Message)</h2>
<h2>@Html.Raw(@ViewBag.Message)</h2>
<h2>@Html.Raw(@ViewBag.Message)</h2>
<h3>HELLO</h3>
<h2>my changes</h2>
<h2>chnages on master</h2>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
}



