@model List<MINI.Models.SpecialOffersDisplayViewModel>
@{
    ViewBag.Title = MINI.Resources.SpecialOffers.Index.PageTitle;
}

@{Html.RenderPartial("_Nav");}

<div id="specialoffers-page">
  <div id="intro-@MINI.App.CurrentUserLanguage.ToUpperInvariant()" class="content-intro left-offset left-indent">
</div>

@{ Html.RenderPartial("_InPageNav", "specialoffer-" + Model[0].CACode); }



  @foreach (var item in Model) {

    <div id="specialoffer-@item.CACode" class="specialoffer-item left-offset left-indent right-indent clearfix">
	  
	  
      <div class="content-ui pull-left box white specialOfferTitle">
        <h3 style="margin-bottom:10px;">@item.DisplayName(MINI.App.CurrentUserLanguage)</h3>


        <div class="pricing clearfix">
            @if (MINI.App.CurrentUserProvince.ToUpperInvariant() == "QC") {
                <div class="pricing-allin">
                    <h2>@item.Vehicle.AllInclusivePricingDisplay(MINI.App.CurrentUserProvince)</h2>
                    <div class="allin">@MvcHtmlString.Create(MINI.Resources.SpecialOffers.Index.AllInclPriceLbl)<a href="#allInclusivePricing-@item.Vehicle.CACode" data-toggle="modal"><img src="@Url.ContentVersioned("~/Public/img/legal_i.png")" class="legal_i" /></a></div>
                </div>  
            }
            <div class="pricing-std">
                <h2>@item.Vehicle.PriceForDisplay(MINI.App.CurrentUserProvince, item)</h2>
                <div class="allin">@MvcHtmlString.Create(MINI.Resources.SpecialOffers.Index.BaseMSRPLbl)</div>
            </div>
        
        </div>

        <div class="clearfix">
            <div class="rates">

                <div class="rates-finance clearfix">
                    <div class="rate">
                        <h5>@MvcHtmlString.Create(MINI.Resources.SpecialOffers.Index.FinanceRateLbl)</h5>
                        <h2>@PriceHelpers.GetFinanceRate(item)%</h2>
                    </div>
                    
                    <div class="payment">
                        <h5>@MINI.Resources.SpecialOffers.Index.BiWeeklyLbl</h5>
                        <h2>@PriceHelpers.GetFinance(item)<a href="#legal-@item.Vehicle.CACode" data-toggle="modal" class="single">*</a></h2>
                    </div>
                </div>

                <div class="rates-lease">
                    <div class="rate">
                        <h5>@MvcHtmlString.Create(MINI.Resources.SpecialOffers.Index.LeaseRateLbl)</h5>
                        <h2>@PriceHelpers.GetLeaseRate(item)%</h2>
                        
                    </div>

                    <div class="payment">
                        <h5>@MINI.Resources.SpecialOffers.Index.MonthlyLbl </h5>
                        <h2>@PriceHelpers.GetLease(item) <a href="#legal-@item.Vehicle.CACode" data-toggle="modal">**</a></h2>
                    </div>
                </div>


            </div>

            <div class="right specialoffer-actions">
                @Html.ButtonLink(HtmlHelperExtensions.ButtonLinkType.BUILD, Html.GenerateConfigUrl(item.Vehicle.ModelFamily.ModelSlug, item.Vehicle.UrlSlug), MINI.Resources.Vehicle.Index.BuildPriceBtnLabel, "btn-md btn-block build-trigger", new {  })
                @Html.ButtonLink(HtmlHelperExtensions.ButtonLinkType.TESTDRIVE, "#TestDrive", MINI.Resources.Vehicle.Index.BookTestDriveBtnLabel, "btn-md btn-block", new { data_toggle = "modal", data_value = item.Vehicle.CACode, data_retailer_number_value = LinkHelpers.GenerateRetailerDataValue() })
                @Html.ButtonLink(HtmlHelperExtensions.ButtonLinkType.FIND, Url.Action("index", "retailer"), MINI.Resources.Vehicle.Index.FindRetailerBtnLabel, "btn-md btn-block", null)
                @Html.ButtonLink(HtmlHelperExtensions.ButtonLinkType.LEARNMORE, Url.Action("index", "vehicle", new { @model = @item.Vehicle.ModelFamily.ModelSlug, @lang = @MINI.App.Lang }), MINI.Resources.Vehicle.Index.LearnMoreLabel, "btn-md btn-block", null)
            </div>
        </div>
      </div>


        <div id="vehicle-holder">
            <div id="mask-right" style="left: 600px;">
                <div id="holder-@item.CACode" class="vehicle-wrapper car-right">
                </div>
            </div>
        </div>
        
        <div class="palette pull-left clear-left">
            <div class="palette-body clearfix">
                <div class="palette-colours" id="colours">
                    <h5>@MINI.Resources.Vehicle.Index.AvailableColoursTitle</h5>
                    @foreach (var c in item.Vehicle.Colours) {
                        <img data-family="@item.Vehicle.ModelFamily.ECode" src="@Url.ContentVersioned(string.Format("~/Public/img/v/ico/colour/{0}.png", c.Code))" data-trigger="hover"  placement="top" rel="popover" data-content="" data-original-title="@DisplayHelpers.ColourDescription(c)"  width="30" height="30" />
                    }
                </div>
                <div class="palette-wheels" id="wheels">
                    <h5>@MINI.Resources.Vehicle.Index.AvailableWheelsTitle</h5>
                    @foreach (var w in item.Vehicle.Options) {
                        if (w != null && w.Category == "WHEEL") {
                        <img data-family="@item.Vehicle.ModelFamily.ECode" src="@Url.ContentVersioned(string.Format("~/Public/img/v/ico/wheel/{0}.png", w.Code))" data-trigger="hover"  placement="top" rel="popover" data-content="" data-original-title="@DisplayHelpers.OptionDescription(w)"  width="30" height="30" />
                        }
                    }
                </div>
            </div>
            <div class="palette-footer" id="rotate">
                <h5>
                    <a href="#">@MINI.Resources.SpecialOffers.Index.ClickHere360<img src="@Url.ContentVersioned(string.Format("~/Public/img/model/360-{0}.png", MINI.App.CurrentUserLanguage))" data-family="@item.Vehicle.ModelFamily.ECode" class="img-360" /></a>
            </div>
        </div>

        @{Html.RenderPartial("_AllInclusivePricing", item);}
        @{Html.RenderPartial("_Legal", item);}
    </div>


  }
</div>



@section AdditionalScripts {
  @{
      System.Text.StringBuilder containers = new System.Text.StringBuilder();
      foreach (var item in Model) {
          containers.AppendFormat("#specialoffer-{0},", item.CACode);
      }
  }
  var specialOffers = new MINI.SpecialOffers({containers:'@containers.ToString().TrimEnd(',')', lang:'@MINI.App.CurrentUserLanguage'});
}