@model MINI.Models.VehicleGalleryViewModel
<!-- gallery here -->
<div id="@Model.GalleryType.ToLower()-gallery" style="display:block" class="gallery-container clearfix">
  <div class="gallery-row clearfix">
    <div class="gallery-col">
@{
            string videoUrl = "";
            switch (Model.CACode) {
                case "14PD":
                    videoUrl = "http://www.youtube.com/watch?v=IhM2ycWW8po";
                    break;
                default:
                    videoUrl = Url.ContentVersioned(string.Format("~/Public/img/v/R99/{0}/gallery/1.jpg", Model.CACode));
                    break;
            }
        }
      <a href="@videoUrl" rel="prettyPhoto[@Model.GalleryType.ToLower()-@Model.CACode]" ><img src="@Url.ContentVersioned(string.Format("~/Public/img/v/R99/{0}/gallery/1_t.jpg", Model.CACode))" /></a>
    </div>
    <div class="gallery-col divided clearfix">
      <div class="gallery-row first clearfix">
        <div class="gallery-col first">
          <a href="@Url.ContentVersioned(string.Format("~/Public/img/v/R99/{0}/gallery/2.jpg", Model.CACode))" rel="prettyPhoto[@Model.GalleryType.ToLower()-@Model.CACode]" ><img src="@Url.ContentVersioned(string.Format("~/Public/img/v/R99/{0}/gallery/2_t.jpg", Model.CACode))" /></a>
        </div>
        <div class="gallery-col">
          <a href="@Url.ContentVersioned(string.Format("~/Public/img/v/R99/{0}/gallery/3.jpg", Model.CACode))" rel="prettyPhoto[@Model.GalleryType.ToLower()-@Model.CACode]" ><img src="@Url.ContentVersioned(string.Format("~/Public/img/v/R99/{0}/gallery/3_t.jpg", Model.CACode))" height="110" /></a>
        </div>
      </div>
      <div class="gallery-row">
        <div class="gallery-col first">
          <a href="@Url.ContentVersioned(string.Format("~/Public/img/v/R99/{0}/gallery/4.jpg", Model.CACode))" rel="prettyPhoto[@Model.GalleryType.ToLower()-@Model.CACode]" ><img src="@Url.ContentVersioned(string.Format("~/Public/img/v/R99/{0}/gallery/4_t.jpg", Model.CACode))" width="202" height="110"/></a>
        </div>
        <div class="gallery-col">
          <a href="@Url.ContentVersioned(string.Format("~/Public/img/v/R99/{0}/gallery/5.jpg", Model.CACode));" rel="prettyPhoto[@Model.GalleryType.ToLower()-@Model.CACode]" ><img src="@Url.ContentVersioned(string.Format("~/Public/img/v/R99/{0}/gallery/5_t.jpg", Model.CACode))" /></a>
        </div>
      </div>
          
    </div>
  </div>

  <div class="gallery-row clearfix">
       
    <div class="gallery-col first">
      <a href="@Url.ContentVersioned(string.Format("~/Public/img/v/R99/{0}/gallery/6.jpg", Model.CACode))" rel="prettyPhoto[@Model.GalleryType.ToLower()-@Model.CACode]" ><img src="@Url.ContentVersioned(string.Format("~/Public/img/v/R99/{0}/gallery/6_t.jpg", Model.CACode))" /></a>
    </div>
    <div class="gallery-col">
      <a href="@Url.ContentVersioned(string.Format("~/Public/img/v/R99/{0}/gallery/7.jpg", Model.CACode))" rel="prettyPhoto[@Model.GalleryType.ToLower()-@Model.CACode]" ><img src="@Url.ContentVersioned(string.Format("~/Public/img/v/R99/{0}/gallery/7_t.jpg", Model.CACode))" width="416" /></a>
    </div>
  </div>

</div>
<!-- end gallery -->