@model MINI.Models.ModelIndexViewModel
@using MINI.Resources.Vehicle

<!-- Modal -->
<div class="modal fade" id="vehicleFeatures" tabindex="-1" role="dialog" aria-labelledby="vehicleFeaturesLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header clearfix">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><div class="close-text">@MINI.Resources.Forms.Index.CloseLbl</div>&times;</button>
        <div class="modal-utility-nav">
          <ul class="list-inline">
            <li class="print"><a href="@Url.Action("print", "vehicle", new {lang = @MINI.App.CurrentUserLanguage, model = Model.ModelFamily.ModelSlug})" target="print">@Features.PrintLabel</a></li>
            @{
                string brochureDownload = string.Format("~/Public/img/v/2013LineupBroch_Web_{0}.pdf", MINI.App.Lang);
                if(Model.ModelFamily.ECode == "F56") {
                    brochureDownload = string.Format("~/Public/img/v/F56_CA{0}_1113_PDF_V1.pdf", MINI.App.Lang.Substring(0, 1).ToUpper());
                }
            }
            <li class="download"><a href="@Url.Content(brochureDownload)" target="_brochure">@Features.DownloadLabel</a></li>
            @*<li class="share"><a href="#">@Features.ShareLabel</a></li>*@
          </ul>
        </div>
        <div class="pull-left">
          <h4 class="modal-title">@DisplayHelpers.ModelNameWithYear(Model)</h4>
        </div>

      </div>
      <div class="modal-nav">
        <ul class="nav">
          <li><a href="#specs">@Features.SpecLabel</a></li>
          <li><a href="#features">@Features.StandardFeaturesLabel</a></li>
          <li><a href="#package">@Features.PackagesLabel</a></li>
        </ul>
      </div>
      <div class="modal-body">
      <table class="table borderless mb0">
        <thead>
          <tr>
            <th width="290" style="vertical-align:top">
                <div id="features-legend" class="legend">
                    <h4>@MINI.Resources.Vehicle.Features.LegendTitle</h4>
                    <ul class="list-unstyled">
                        <li><img src="@Url.ContentVersioned("~/Public/img/model/features/ico-standard.png")" width="16" height="16" /> @MINI.Resources.Vehicle.Features.StandardLbl</li>
                        <li><img src="@Url.ContentVersioned("~/Public/img/model/features/ico-optional.png")" width="16" height="16" /> @MINI.Resources.Vehicle.Features.OptionalLbl</li>
                    </ul>
                </div>
                <div id="package-legend" class="legend">
                    <h4>@MINI.Resources.Vehicle.Features.LegendTitle</h4>
                    <ul class="list-unstyled">
                        <li><img src="@Url.ContentVersioned("~/Public/img/model/features/ico-standard.png")" width="16" height="16" /> @MINI.Resources.Vehicle.Features.PackageStandardLbl</li>
                    </ul>
                </div>            
            </th>
            @foreach (var item in Model.Vehicles) {
              <th width="185" style="text-align:center;">
                @{
                    string icon = string.Format("~/Public/img/v/{0}/build_{1}.png", Model.ModelFamily.ECode, item.CACode);
                    if (Model.Vehicles[0].ModelFamily.ECode == "F56") {
                        icon = string.Format("~/Public/img/v/{0}/build_{1}-{2}.png", Model.ModelFamily.ECode, item.CACode, MINI.App.CurrentUserLanguage.ToUpperInvariant());
                    }
                    
                }
                <img src="@Url.ContentVersioned(icon)" />
                <h5 style="width:84%" class="white">@item.TrimName</h5>
              </th>  
            }
          </tr>
        </thead>
      </table>
<div id="vehicleFeaturesBodyContainer">
@{int count = 0;}        
<div class="panel-group" id="specs-data">
@foreach (var item in Model.SpecGroups) {
    string sectionId = string.Format("collapse-{0}", item.Category.Replace(" ", ""));
    string inClass = count == 0 ? "in" : "";
    string icoClass = count == 0 ? "minus" : "plus";
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title @icoClass">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#@sectionId">
            @DisplayHelpers.SpecCategory(item)
        </a>
      </h4>
    </div>
    <div id="@sectionId" class="panel-collapse collapse @inClass">
      <div class="panel-body">
        <table class="table">
          <tbody>

            @foreach (var specLabel in item.SpecLabels) {
              <tr>
                <td width="290">
                  @DisplayHelpers.DisplayLabel(Model.Vehicles, specLabel)
                </td>
                @foreach (var vehicle in Model.Vehicles) {
                  <td width="185"  align="center">@DisplayHelpers.DisplayValue(vehicle, specLabel)</td>  
                }
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  { count++; }
}

</div>

<div class="panel-group" id="features-data">
@{count = 0;}
@foreach (var item in Model.Vehicles[0].GroupedStandardFeatures) {
    string sectionId = string.Format("collapse-{0}", item.Category.Replace(" ", ""));
    string inClass = count == 0 ? "in" : "";
    string icoClass = count == 0 ? "minus" : "plus";
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title @icoClass">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#@sectionId">
          @DisplayHelpers.StandardFeatureCategory(item)
        </a>
      </h4>
    </div>
    <div id="@sectionId" class="panel-collapse collapse @inClass">
      <div class="panel-body">
        <table class="table">
          <tbody>
            @foreach (var featureLabel in item.StandardFeatures) {
              <tr>
                <td width="290"> 
                
                @DisplayHelpers.StandardFeatureName(featureLabel)</td>
                @foreach (var vehicle in Model.Vehicles) {  
                  string value = DisplayHelpers.DisplayFeatureValue(vehicle, featureLabel.Name, featureLabel.Code).ToString();
                  <td width="185"  align="center">
                    @if (!string.IsNullOrEmpty(value)) {
                        <img src="@Url.ContentVersioned("~/Public/img/model/features/" + value)" width="16" height="16" />
                    } else {
                        @:&nbsp;
                    }
                  </td>
                }
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  { count++; }
}
</div>

@{
    List<MINI.Models.PackageViewModel> allPackages = new List<MINI.Models.PackageViewModel>();
    foreach (var item in Model.Vehicles) {
        foreach (var package in item.Packages) {
            if (allPackages.Where(p => p.WebsitePackageGroups == package.WebsitePackageGroups).Count() == 0 || (package.WebsitePackageGroups == null)) {
                allPackages.Add(package);
            }
        }
    }

    allPackages = allPackages.Distinct().ToList();
}
<div class="panel-group" id="package-data">
@{count = 0;}
@foreach (var item in allPackages.OrderBy(p => p.FullName)) {
    string sectionId = string.Format("collapse-{0}", item.Code.Split(',')[0]);
    string inClass = count == 0 ? "in" : "";
    string icoClass = count == 0 ? "minus" : "plus";
  <div class="panel panel-default">
    <div class="panel-heading clearfix">

        <table class="table" style="margin:0;">
          <tbody>
              <tr >
                <td width="280" style="border:none;">
                      <h4 class="panel-title @icoClass" style="float:left;">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#@sectionId" style="display:block;width:320px;">
                          @DisplayHelpers.PackageName(item)
                        </a>
                      </h4>
                </td>                
                @foreach (var vehicle in Model.Vehicles) {
                  <td width="185"align="center" style="border:none;">
                    
                    @if (DisplayHelpers.VehicleHasPackage(vehicle, item.Code)) {
                        <img src="@Url.ContentVersioned("~/Public/img/model/features/ico-standard.png")" />
                    } else {
                        @:&nbsp;
                    }                  
                  </td>  
                }
              </tr>
                
          </tbody>
        </table>
    </div>
    <div id="@sectionId" class="panel-collapse collapse @inClass">
      <div class="panel-body">
        <table class="table">
          <tbody>
            @foreach (var option in item.PackageOptions) {
              <tr>
                <td width="290">
                @DisplayHelpers.OptionName(option)</td>
                @foreach (var vehicle in Model.Vehicles) {
                  <td width="160"align="center">
                    @{
                        bool vehicleHasPackage = DisplayHelpers.VehicleHasPackage(vehicle, item.Code);
                        bool vehicleHasOption = DisplayHelpers.PackageHasOption(vehicle.CACode, item.Code, option.Code);
                    }
                    @if (vehicleHasPackage && vehicleHasOption) {
                        <img src="@Url.ContentVersioned("~/Public/img/model/features/ico-standard.png")" />
                    } else if(vehicleHasPackage && !vehicleHasOption) {
                        @:&nbsp;
                    }                  
                  </td>  
                }
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  { count++; }
}

</div>

</div>
</div>

    </div>
  </div>
</div>