@model MINI.Models.VehicleGalleryViewModel
<!-- gallery here -->
<div id="@Model.GalleryType.ToLower()-gallery" style="display:block" class="gallery-container clearfix">
  <div class="gallery-row clearfix">
    <div class="gallery-col">
        @{
            string videoUrl = Url.ContentVersioned(string.Format("~/Public/img/v/{0}/gallery-{1}/1.jpg", Model.ECode, Model.GalleryType.ToLower()));
            string videoUrl6 = Url.ContentVersioned(string.Format("~/Public/img/v/{0}/gallery-{1}/6.jpg", Model.ECode, Model.GalleryType.ToLower()));
            string pathMod = "";
            if(Model.GalleryType.ToUpper() == "EXTERIOR") {
                switch (Model.ECode) {
                    case "R61":
                        videoUrl = "http://www.youtube.com/watch?v=IhM2ycWW8po";
                        break;
                    case "R60":
                        videoUrl = "http://www.youtube.com/watch?v=kr7Sx5APfFw";
                        break;
                    case "R57":
                        videoUrl = "http://www.youtube.com/watch?v=iYeAeKG7NAU";
                        if (MINI.App.CurrentUserLanguage.ToUpperInvariant() == "FR")
                        {
                            pathMod = "FR/";
                        }
                        break;
                    case "R55":
                        videoUrl = "http://www.youtube.com/watch?v=05WD0lHfbGA";
                        break;    
                    case "F56":
                        videoUrl = "http://www.youtube.com/watch?v=Hu3BnIMbLmU";
                        videoUrl6 = "http://www.youtube.com/watch?v=SZ_RLl4uODg";
                        if(MINI.App.CurrentUserLanguage.ToUpperInvariant() == "FR") {
                            pathMod = "FR/";
                            videoUrl6 = "http://www.youtube.com/watch?v=mZcPQeFDhKc";
                        }
                        break;
                    default:
                        videoUrl = Url.ContentVersioned(string.Format("~/Public/img/v/{0}/gallery-{1}/1.jpg", Model.ECode, Model.GalleryType.ToLower()));
                        break;
                }
            }
        }
      <a href="@videoUrl" rel="prettyPhoto[@Model.GalleryType.ToLower()]" ><img src="@Url.ContentVersioned(string.Format("~/Public/img/v/{0}/gallery-{1}/1_t.jpg", Model.ECode, Model.GalleryType.ToLower()))" /></a>
    </div>
    <div class="gallery-col divided clearfix">
      <div class="gallery-row first clearfix">
        <div class="gallery-col first">
          <a href="@Url.ContentVersioned(string.Format("~/Public/img/v/{0}/gallery-{1}/{2}2.jpg", Model.ECode, Model.GalleryType.ToLower(), pathMod))" rel="prettyPhoto[@Model.GalleryType.ToLower()]" ><img src="@Url.ContentVersioned(string.Format("~/Public/img/v/{0}/gallery-{1}/{2}2_t.jpg", Model.ECode, Model.GalleryType.ToLower(), pathMod))" /></a>
        </div>
        <div class="gallery-col">
          <a href="@Url.ContentVersioned(string.Format("~/Public/img/v/{0}/gallery-{1}/{2}3.jpg", Model.ECode, Model.GalleryType.ToLower(), pathMod))" rel="prettyPhoto[@Model.GalleryType.ToLower()]" ><img src="@Url.ContentVersioned(string.Format("~/Public/img/v/{0}/gallery-{1}/{2}3_t.jpg", Model.ECode, Model.GalleryType.ToLower(), pathMod))" /></a>
        </div>
      </div>
      <div class="gallery-row">
        <div class="gallery-col first">
          <a href="@Url.ContentVersioned(string.Format("~/Public/img/v/{0}/gallery-{1}/{2}4.jpg", Model.ECode, Model.GalleryType.ToLower(), pathMod))" rel="prettyPhoto[@Model.GalleryType.ToLower()]" ><img src="@Url.ContentVersioned(string.Format("~/Public/img/v/{0}/gallery-{1}/{2}4_t.jpg", Model.ECode, Model.GalleryType.ToLower(), pathMod))" width="202" height="110" /></a>
        </div>
        <div class="gallery-col">
          <a href="@Url.ContentVersioned(string.Format("~/Public/img/v/{0}/gallery-{1}/{2}5.jpg", Model.ECode, Model.GalleryType.ToLower(), pathMod))" rel="prettyPhoto[@Model.GalleryType.ToLower()]" ><img src="@Url.ContentVersioned(string.Format("~/Public/img/v/{0}/gallery-{1}/{2}5_t.jpg", Model.ECode, Model.GalleryType.ToLower(), pathMod))" /></a>
        </div>
      </div>
          
    </div>
  </div>

  <div class="gallery-row clearfix">
       
    <div class="gallery-col first">
      <a href="@videoUrl6" rel="prettyPhoto[@Model.GalleryType.ToLower()]" ><img src="@Url.ContentVersioned(string.Format("~/Public/img/v/{0}/gallery-{1}/{2}6_t.jpg", Model.ECode, Model.GalleryType.ToLower(), pathMod))" /></a>
    </div>
    <div class="gallery-col">
      <a href="@Url.ContentVersioned(string.Format("~/Public/img/v/{0}/gallery-{1}/{2}7.jpg", Model.ECode, Model.GalleryType.ToLower(), pathMod))" rel="prettyPhoto[@Model.GalleryType.ToLower()]" ><img src="@Url.ContentVersioned(string.Format("~/Public/img/v/{0}/gallery-{1}/{2}7_t.jpg", Model.ECode, Model.GalleryType.ToLower(), pathMod))" /></a>
    </div>
  </div>

</div>
<!-- end gallery -->