@model MINI.Models.ModelIndexViewModel
<div id="vehicle-nav" class="clearfix">
  <h4 class="pull-left">@Model.Vehicles[0].Name.Substring(0,5) @Model.ModelFamily.Name</h4>
  <ul class="nav nav-pills pull-right">
    <li><a href="#model-@Model.ModelFamily.ECode-gallery">@MINI.Resources.VehicleNavigation.GalleryLabel</a></li>
    <li><a href="#model-@Model.ModelFamily.ECode-variants">@MINI.Resources.VehicleNavigation.VariantsLabel</a></li>
    <li><a href="#vehicleFeatures" data-toggle="modal" data-backdrop="static" data-keyboard="false">@MINI.Resources.VehicleNavigation.FeaturesLabel</a></li>
    <li><a href="#model-@Model.ModelFamily.ECode-highlights">@MINI.Resources.VehicleNavigation.HighlightsLabel</a></li>
    <li><a href="#model-@Model.ModelFamily.ECode-build">@MINI.Resources.VehicleNavigation.BuildLabel</a></li>
    <li><a href="#TestDrive" class="selected" data-toggle="modal" data-backdrop="static" data-value="@Model.Vehicles[0].CACode" data-keyboard="false">@MINI.Resources.VehicleNavigation.BookLabel</a></li>
  </ul>
</div>