@model MINI.Models.ModelIndexViewModel
@{
    ViewBag.Title = @Model.ModelFamily.Name;
}


@{
    string altType = Model.ModelFamily.ECode == "R99" ? "jcw" : "special-edition";
    string boxColor = altType == "jcw" ? "red" : "white";
}
<div id="vehicle-nav" class="clearfix">
    <h4 class="pull-left">@Model.ModelFamily.ShortName</h4>
    <ul class="nav nav-pills pull-right">
        @if (altType == "jcw") {
            <li><a href="#jcw-overview">@MINI.Resources.Vehicle.IndexAlt.OverviewTitle</a></li>
        }
        @foreach (var item in Model.Vehicles) {
            string name = item.ShortName.Remove(0, 5);
            if (Model.ModelFamily.ECode == "R99") {
                name = name.Remove(0, 18);
                if (string.IsNullOrEmpty(name.Trim())) {
                    name = "MINI";
                }
            } else {
                if (name.Substring(0, 9).Trim() == "Cooper S") {
                    name = name.Replace("Cooper S", "");
                } else {
                    name = name.Replace("Cooper", "");
                }
            }
            <li><a href="#vehicle-@item.CACode">@name</a></li>
        }
    </ul>
</div>

<div id="model-page-alt">
    <!-- model jumbotron! -->
    <div id="model-@Model.ModelFamily.ECode-intro" class="wide-body-image-header-alt left-offset left-indent @altType content-intro">
        @if (altType == "jcw") {
            <div class="alt-intro">
                <h2>@MINI.Resources.Vehicle.IndexAlt.JCWTitle</h2>
                <h2>@MINI.Resources.Vehicle.IndexAlt.JCWSubTitle</h2>
            </div>
            
            <a href="#jcw-overview" id="jcw-link"><img src="@Url.ContentVersioned("~/Public/img/content/jcw-logo.png")" id="jcw-logo" /></a>
        } else {
            <div class="box white">
                <h2>@MvcHtmlString.Create(MINI.Resources.Vehicle.IndexAlt.SpecialEditionsTitle)</h2>
                <h3>@MvcHtmlString.Create(MINI.Resources.Vehicle.IndexAlt.SpecialEditionsSubTitle)</h3>
            </div>
        }
        
    </div>


@{ 
    var firstSection = altType == "jcw" ? "jcw-overview" : string.Format("vehicle-{0}", Model.Vehicles[0].CACode);
    Html.RenderPartial("_InPageNav", firstSection); }

@if (altType == "jcw") {
<div id="jcw-overview" class="intro-section content-section content-offset content-indent">
    <div class="content-section-menu">
        <h3 class="red">@MINI.Resources.Vehicle.IndexAlt.OverviewTitle</h3>
        <ul class="nav red-bottom">
            <li><a href="#jcw-heritage" data-sectionparent="#jcw-overview">@MINI.Resources.Vehicle.IndexAlt.HeritageLbl</a></li>
            <li><a href="#jcw-design" data-sectionparent="#jcw-overview">@MINI.Resources.Vehicle.IndexAlt.DesignLbl</a></li>
            <li><a href="#jcw-performance" data-sectionparent="#jcw-overview">@MINI.Resources.Vehicle.IndexAlt.MenuPerfLbl</a></li>
        </ul>
    </div>
    
    <div id="jcw-heritage" class="content-section-content">
        <h1 class="red mb0">@MvcHtmlString.Create(MINI.Resources.Owners.Accessories.JCWSectionTitle)</h1>
        <h2 class="white mt0">@MvcHtmlString.Create(MINI.Resources.Owners.Accessories.JCWSectionSubTitle)</h2>
    
        <div class="jcw-content">
            <h4>@MvcHtmlString.Create(MINI.Resources.Owners.Accessories.JCWSectionContentTitle)</h4>
            @MvcHtmlString.Create(MINI.Resources.Owners.Accessories.JCWSectionContentBody)
        </div>
    </div>      

    <div id="jcw-design" class="content-section-content" style="display:none;">
       
	   <div id="mirror-caps" class="hotspot-box">
            <img class="hotspot-img" src="@Url.ContentVersioned("~/Public/img/content/jcw-overview/design-mirrorcap.jpg")" />
            <div class="hotspot-inner">
                <h5>@MINI.Resources.Vehicle.IndexAlt.JCWDesignMirrorTitle</h5>
                @MINI.Resources.Vehicle.IndexAlt.JCWDesignMirrorBody
            </div>
            <img src="@Url.ContentVersioned("~/Public/img/content/jcw-overview/indicator.png")" class="indicator" />
        </div>
		
		
        <div id="body-colours" class="hotspot-box">
            <img class="hotspot-img" src="@Url.ContentVersioned("~/Public/img/content/jcw-overview/design-bodycolours.jpg")" />
            <div class="hotspot-inner">
                <h5>@MINI.Resources.Vehicle.IndexAlt.JCWDesignBodyTitle</h5>
                @MINI.Resources.Vehicle.IndexAlt.JCWDesignBodyBody
            </div>
            <img src="@Url.ContentVersioned("~/Public/img/content/jcw-overview/indicator.png")" class="indicator" />
        </div>
        <div id="front-end" class="hotspot-box">
            <img class="hotspot-img" src="@Url.ContentVersioned("~/Public/img/content/jcw-overview/design-frontend.jpg")" />
            <div class="hotspot-inner">
                <h5>@MINI.Resources.Vehicle.IndexAlt.JCWDesignFrontEndTitle</h5>
                @MINI.Resources.Vehicle.IndexAlt.JCWDesignFrontEndBody
            </div>
            <img src="@Url.ContentVersioned("~/Public/img/content/jcw-overview/indicator.png")" class="indicator" />
        </div>
    </div>      

    <div id="jcw-performance" class="content-section-content" style="display:none;">
        <div class="jcw-content">
            <h2>@MvcHtmlString.Create(MINI.Resources.Vehicle.IndexAlt.JCWPerformanceTitle)</h2>
            @MvcHtmlString.Create(MINI.Resources.Vehicle.IndexAlt.JCWPerformanceBody)
        </div>
    </div>      
</div>
}

    @{
        List<string> containers = new List<string>();
        if(altType == "jcw") {
            containers.Add("#jcw-overview");
        }
      }
    
    @foreach (var item in Model.Vehicles) {
        containers.Add("#vehicle-" + @item.CACode);
        <div id="vehicle-@item.CACode" class="vehicle-entry left-offset left-indent">
       
            <div class="vehicle-left">
                <div class="box @boxColor">
                    <h2>@item.Name</h2>
                    <h2 class="subtitle">@MvcHtmlString.Create(item.Tagline)</h2>
                    <h5><small>@MINI.Resources.Vehicle.Index.FromLabel</small> @VehicleHelpers.PriceForDisplay(item.ModelFamily, item, MINI.App.CurrentUserProvince)</h5>
                    @Html.ButtonLink(HtmlHelperExtensions.ButtonLinkType.BUILD, Html.GenerateConfigUrl(Model.ModelFamily.ModelSlug, item.UrlSlug), MINI.Resources.Vehicle.Index.BuildPriceBtnLabel, "btn-md build-trigger pull-left", new { data_toggle = "modal", data_target = "#Configurator" })
                    @Html.ButtonLink(HtmlHelperExtensions.ButtonLinkType.TESTDRIVE, "#TestDrive", MINI.Resources.Vehicle.Index.BookTestDriveBtnLabel, "btn-md pull-right", new {data_toggle = "modal", data_value=item.CACode, data_retailer_number_value=LinkHelpers.GenerateRetailerDataValue() })
                    @*<a href="@Html.GenerateConfigUrl(Model.ModelFamily.ModelSlug, item.UrlSlug)" target="build" class="btn btn-md btn-primary gradient-grey shadow pull-left"><img src="@Url.ContentVersioned("~/Public/img/transp-shadow-double-chevron.png")" width="16" height="12" /> @MINI.Resources.Vehicle.Index.BuildPriceBtnLabel</a>&nbsp;&nbsp;<a href="#bookTestDrive" data-value="@Model.Vehicles[0].CACode" data-toggle="modal" class="btn btn-md btn-primary gradient-grey shadow pull-right"><img src="@Url.ContentVersioned("~/Public/img/transp-shadow-double-chevron.png")" width="16" height="12" /> @MINI.Resources.Vehicle.Index.BookTestDriveBtnLabel</a>*@
                </div>

                <nav class="vehicle-menu">
                    <ul class="nav">
                        <li><a href="#spinner-@item.CACode" data-sectionparent="#vehicle-@item.CACode">@MINI.Resources.Vehicle.IndexAlt.ColoursLbl</a></li>
                        @if (altType == "jcw") { 
                        <li><a href="#gallery-@item.CACode" data-sectionparent="#vehicle-@item.CACode">@MINI.Resources.Vehicle.IndexAlt.GalleryLbl</a></li>
                        }
                        <li><a href="#vehicleFeatures-@item.CACode" data-toggle="modal" data-keyboard="false" data-backdrop="static">@MINI.Resources.Vehicle.IndexAlt.MenuSpecsLbl</a></li>
                        @if (altType != "jcw") { 
                        <li><a href="#design-@item.CACode" data-sectionparent="#vehicle-@item.CACode">@MINI.Resources.Vehicle.IndexAlt.DesignLbl</a></li>
                        }
                    </ul>
                </nav>
            </div>

            <div id="spinner-@item.CACode"  class="vehicle-right vehicle-content">
                @{ Html.RenderPartial("_SpinnerUI", item);  }
                <div id="vehicle-holder">
                    <div id="mask-right">
                        <div id="holder-@item.CACode" class="vehicle-wrapper car-right">
                            @if (@item.CACode == "14PD") { 
                                <img src="~/Public/img/v/@Model.ModelFamily.ECode/@item.CACode/B11_2GG_0.png" data-container="@item.CACode" data-id="@Model.ModelFamily.ECode" data-model="@item.CACode" data-color="B11" data-rim="2GG" class="sprite">
                            }else if (@item.CACode == "14YD") {
                                <img src="~/Public/img/v/@Model.ModelFamily.ECode/@item.CACode/B11_2GG_0.png" data-container="@item.CACode" data-id="@Model.ModelFamily.ECode" data-model="@item.CACode" data-color="B11" data-rim="2GG" class="sprite">
							}else if(@item.CACode == "1416H"){	
								<img src="~/Public/img/v/@Model.ModelFamily.ECode/@item.CACode/850_2GH_0.png" data-container="@item.CACode" data-id="@Model.ModelFamily.ECode" data-model="@item.CACode" data-color="850" data-rim="2GH" class="sprite">
							}else if(@item.CACode == "1417H"){	
								<img src="~/Public/img/v/@Model.ModelFamily.ECode/@item.CACode/850_2GD_0.png" data-container="@item.CACode" data-id="@Model.ModelFamily.ECode" data-model="@item.CACode" data-color="850" data-rim="2GD" class="sprite">
							}else if(@item.CACode == "1414H"){	
								<img src="~/Public/img/v/@Model.ModelFamily.ECode/@item.CACode/A94_2P2_0.png" data-container="@item.CACode" data-id="@Model.ModelFamily.ECode" data-model="@item.CACode" data-color="A94" data-rim="2P2" class="sprite">
							}else if(@item.CACode == "14BC"){	
								<img src="~/Public/img/v/@Model.ModelFamily.ECode/@item.CACode/B24_2P8_0.png" data-container="@item.CACode" data-id="@Model.ModelFamily.ECode" data-model="@item.CACode" data-color="B24" data-rim="2P8" class="sprite">	
							}else if(@item.CACode == "14CC"){	
								<img src="~/Public/img/v/@Model.ModelFamily.ECode/@item.CACode/A94_2GE_0.png" data-container="@item.CACode" data-id="@Model.ModelFamily.ECode" data-model="@item.CACode" data-color="A94" data-rim="2GE" class="sprite">
							}else if(@item.CACode == "14RC"){	
								<img src="~/Public/img/v/@Model.ModelFamily.ECode/@item.CACode/A94_2PX_0.png" data-container="@item.CACode" data-id="@Model.ModelFamily.ECode" data-model="@item.CACode" data-color="A94" data-rim="2PX" class="sprite">	
							}else if(@item.CACode == "1416K"){	
								<img src="~/Public/img/v/@Model.ModelFamily.ECode/@item.CACode/851_2GB_0.png" data-container="@item.CACode" data-id="@Model.ModelFamily.ECode" data-model="@item.CACode" data-color="851" data-rim="2GB" class="sprite">	
							}else if(@item.CACode == "1414K"){	
								<img src="~/Public/img/v/@Model.ModelFamily.ECode/@item.CACode/A94_2GB_0.png" data-container="@item.CACode" data-id="@Model.ModelFamily.ECode" data-model="@item.CACode" data-color="A94" data-rim="2GB" class="sprite">		
	                        } else {
                                <img src="~/Public/img/v/@Model.ModelFamily.ECode/@item.CACode/A94_2P8_0.png" data-container="@item.CACode" data-id="@Model.ModelFamily.ECode" data-model="@item.CACode" data-color="A94" data-rim="2P8" class="sprite">
	                        }
                        </div>
                    </div>
                </div>
            </div>

            @if (altType == "jcw") {
            <div id="gallery-@item.CACode" class="vehicle-content jcw-gallery" style="display:none;">
                @{ Html.RenderPartial("_AltGallery", new MINI.Models.VehicleGalleryViewModel() { GalleryType = "exterior", CACode = item.CACode }); }
            </div>
            }

            @if (altType != "jcw") {
            <div id="design-@item.CACode" class="vehicle-content" style="display:none;">
                <img src="@Url.ContentVersioned("~/Public/img/v/R89/design-cars/" + @item.CACode + ".png")" />
                
                @switch (item.CACode) {
                    case "1414H":
                    <h3>@MINI.Resources.Vehicle.IndexAlt.SEHighgateDesignTitle</h3>
                    @MvcHtmlString.Create(MINI.Resources.Vehicle.IndexAlt.SEHighgateDesignBody)                        
               break;
                    case "1414K":
                    <h3>@MINI.Resources.Vehicle.IndexAlt.SEConvertibleDesignTitle</h3>
                    @MvcHtmlString.Create(MINI.Resources.Vehicle.IndexAlt.SEConvertibleDesignBody)                        
               break;
                    case "1416H":
                    <h3>@MINI.Resources.Vehicle.IndexAlt.SEHydeParkDesignTitle</h3>
                    @MvcHtmlString.Create(MINI.Resources.Vehicle.IndexAlt.SEHydeParkDesignBody)                        
               break;
                    case "1416K":
                    <h3>@MINI.Resources.Vehicle.IndexAlt.SEClubmanDesignTitle</h3>
                    @MvcHtmlString.Create(MINI.Resources.Vehicle.IndexAlt.SEClubmanDesignBody)                        
               break;
                    case "1417H":
                    <h3>@MINI.Resources.Vehicle.IndexAlt.SEClubmanSDesignTitle</h3>
                    @MvcHtmlString.Create(MINI.Resources.Vehicle.IndexAlt.SEClubmanSDesignBody)                        
               break;
                    default:
               break;
                }
            </div>
            }
        </div>
        
        Html.RenderPartial("_AltFeatures", new MINI.Models.AltFeaturesViewModel() { Vehicle = item, SpecGroups = Model.SpecGroups, Type = altType });
    }
</div>
<div id="inpage-legal" class="left-offset left-indent">
    @MINI.Resources.Vehicle.Index.InPageLegal
</div>



@if (Model != null) {
  @section AdditionalScripts {
    @foreach (var item in Model.Vehicles)
	{
        @:window['features-@item.CACode'] = new MINI.ModelFeatures({ parentContainer: '#vehicleFeatures-@item.CACode' });  
	}
      @*window.featuresOne = new MINI.ModelFeatures({ parentContainer: '#vehicleFeatures-1416H' });
      window.featuresTwo = new MINI.ModelFeatures({ parentContainer: '#vehicleFeatures-1417H' });
      window.featuresThree = new MINI.ModelFeatures({ parentContainer: '#vehicleFeatures-1414H' });
      window.featuresFour = new MINI.ModelFeatures({ parentContainer: '#vehicleFeatures-1414K' });
      window.featuresFive = new MINI.ModelFeatures({ parentContainer: '#vehicleFeatures-1416K' });*@

    var p = new MINI.ModelPageAlt({containers:'@String.Join(",", containers)', lang:'@MINI.App.CurrentUserLanguage'});
   
    @{Html.RenderPartial("_GalleryInitScript");}
  }
}