@model MINI.Models.ModelIndexViewModel
@{
    ViewBag.Title = @Model.ModelFamily.Name;
}
@{Html.RenderPartial("_VehicleNav");}
@{Html.RenderPartial("_BuildAndPrice");}

<div id="model-page">
    <!-- model jumbotron! -->
    <div id="model-@Model.ModelFamily.ECode-intro" class="wide-body-image-header">
        <div class="intro">
            <h2>@DisplayHelpers.ModelNameWithYear(Model)</h2>
            <h2 class="subtitle">@MvcHtmlString.Create(Model.ModelFamily.Tagline)</h2>
            <h5><small>@MINI.Resources.Vehicle.Index.FromLabel</small> @VehicleHelpers.PriceForDisplay(Model.ModelFamily, Model.Vehicles[0], MINI.App.CurrentUserProvince)</h5>
            <a class="btn btn-primary gradient-grey shadow ico-btn btn-md pull-left buildMini" href="@Model.Vehicles[1].CACode"><img width="26" height="23" src="~/Public/img/ico/buttons/build.png">@MINI.Resources.Vehicle.Index.BuildPriceBtnLabel</a>
            @Html.ButtonLink(HtmlHelperExtensions.ButtonLinkType.TESTDRIVE, "#TestDrive", MINI.Resources.Vehicle.Index.BookTestDriveBtnLabel, "btn-md pull-right", new { data_toggle = "modal", data_value = Model.Vehicles[0].CACode, data_retailer_number_value = LinkHelpers.GenerateRetailerDataValue() })
        </div>
        <img src="@Url.ContentVersioned(string.Format("~/Public/img/v/{0}/jumbo-static-vehicle-{1}.png", Model.ModelFamily.ECode, MINI.App.CurrentUserLanguage.ToUpperInvariant()))" class="jumbo-img-alt" style="position:absolute;top:-50px;right:160px;"  />
    </div>
    <div id="model-nav" class="left-offset left-indent">
        <ul class="nav">
            <li><a href="#model-@Model.ModelFamily.ECode-gallery" class="oneline">@MINI.Resources.VehicleNavigation.GalleryLabel</a></li>
            <li><a href="#model-@Model.ModelFamily.ECode-variants">@MINI.Resources.VehicleNavigation.VariantsLabel</a></li>
            <li><a href="#vehicleFeatures" data-toggle="modal">@MINI.Resources.VehicleNavigation.FeaturesLabel</a></li>
            <li><a href="#model-@Model.ModelFamily.ECode-highlights" class="oneline">@MINI.Resources.VehicleNavigation.HighlightsLabel</a></li>
            <li class="last"><a href="#model-@Model.ModelFamily.ECode-build">@MINI.Resources.VehicleNavigation.BuildLabel</a></li>
        </ul>
    </div>
    <div id="model-@Model.ModelFamily.ECode-gallery" class="wide-body-image gallery light-text" style="height:604px;">
        <div class="component-left">
            <h3 class="mt0 white">@MINI.Resources.Vehicle.Index.GalleryTitle <a href="#" data-trigger="hover" placement="bottom" rel="popover" data-content="@MINI.Resources.Vehicle.Index.InPageLegal" data-original-title="">
                *</a></h3>
            <ul id="gallery-nav" class="nav">
                <li><a id="show-exterior" class="selected" href="#">@MINI.Resources.Vehicle.Index.ExteriorLabel</a></li>
                <li><a id="show-interior" href="#">@MINI.Resources.Vehicle.Index.InteriorLabel</a></li>
            </ul>
        </div>
        <div class="component-right">
            @{ Html.RenderPartial("_Gallery", new MINI.Models.VehicleGalleryViewModel() { GalleryType = "exterior", ECode = Model.ModelFamily.ECode }); }
            @{ Html.RenderPartial("_Gallery", new MINI.Models.VehicleGalleryViewModel() { GalleryType = "interior", ECode = Model.ModelFamily.ECode }); }
        </div>
    </div>
    <div id="model-@Model.ModelFamily.ECode-variants" class="wide-body-image variant light-text">
        <div class="component-left border-right">
            <h3 class="mt0 white">@MINI.Resources.Vehicle.Index.VariantTitle</h3>
        </div>
        <div id="variant-mask">
            <div class="component-right clearfix">
                <!-- variant content here -->
                @{
                    List<MINI.Models.VehicleViewModel> vehicles = new List<MINI.Models.VehicleViewModel>();
                    MINI.Models.VehicleViewModel jcw = new MINI.Models.VehicleViewModel();
                    jcw.Name = "2014 MINI John Cooper Works";
                    jcw.TrimName = "John Cooper Works";
                    jcw.CACode = "14HC";
                    jcw.Price = Decimal.Parse("36900");
                    MINI.Models.SpecsViewModel specs = new MINI.Models.SpecsViewModel();
                    specs.Output = "Street legal. Barely.";
                    specs.FuelConsumptionCombined = "Works Overtime.";
                    specs.BootSpace = "Baby got back.";
                    specs.TopSpeed = "Track-Worthy.";
                    specs.Acceleration = "Buy Racing Gloves.";
                    jcw.Specs = specs;

                    vehicles.AddRange(Model.Vehicles);
                    vehicles.Add(jcw);
              
                }
                @foreach (var item in vehicles) {
                    

                    <div class="column">
                        <div class="title">
                            <h3 class="white">@item.TrimName</h3>
                        </div>
                        <img data-item="@item.CACode" src="@Url.ContentVersioned(string.Format("~/Public/img/v/{0}/{1}_{2}-{3}.png", @Model.ModelFamily.ECode, @Model.ModelFamily.ECode, @item.CACode, MINI.App.CurrentUserLanguage.ToUpperInvariant()))" width="248" height="139" style="margin-top:10px;margin-bottom:10px;margin-left:-20px;" />
                        <div class="short-specs">
                     
                            @{
                    string price = item.Price.ToString("c0");
                    if (item.CACode == "14HC") {
                        price = MINI.App.CurrentUserLanguage.ToUpperInvariant() == "EN" ? "TBA" : "A/D";
                    }
                    string fuelValue = !string.IsNullOrEmpty(item.Specs.FuelConsumptionCombined) ? item.Specs.FuelConsumptionCombined : "TBA";
                    if (MINI.App.CurrentUserLanguage.ToUpperInvariant() == "FR") {
                        fuelValue = "A/D";
                    }

                    string output = @item.Specs.Output;
                    string bootSpace = @item.Specs.BootSpace;
                    string topSpeed = @item.Specs.TopSpeed;
                    string acceleration = @item.Specs.Acceleration;
                            }
                            @{
                                
                    // F56
                    if (item.CACode == "14HC" && MINI.App.CurrentUserLanguage.ToUpperInvariant() == "FR") {
                        fuelValue = "A/D";
                        output = "A/D";
                        bootSpace = "A/D";
                        topSpeed = "A/D";
                        acceleration = "A/D";
                    }
                            }
                            <h4>
                                <small>@MINI.Resources.Vehicle.Index.FromLabel</small> @price</h4>
                            <ul id="vehicle-specs" class="list-unstyled">
                                <li>@MINI.Resources.Models.VehicleSpecsViewModelStrings.OutputLabel: @output</li>
                                <li>@MINI.Resources.Vehicle.Index.FuelEfficiencyLabel: @fuelValue</li>
                                <li>@MINI.Resources.Vehicle.Index.CargoSpaceLabel.: @bootSpace</li>
                                <li>@MINI.Resources.Vehicle.Index.TopSpeedLbl: @topSpeed</li>
                                <li>@MINI.Resources.Vehicle.Index.AccelLbl: @acceleration @(item.CACode != "14HC" ? "(0-100km/h)" : "")</li>
                            </ul>
                        </div>
                        <div class="button-container">
                            @if (item.CACode != "14HC") {
                                <a class="btn btn-primary gradient-grey shadow ico-btn btn-md btn-block buildMini" href="@item.CACode"><img width="26" height="23" src="~/Public/img/ico/buttons/build.png">@MINI.Resources.Vehicle.Index.BuildPriceBtnLabel</a>
                            
                                @Html.ButtonLink(HtmlHelperExtensions.ButtonLinkType.TESTDRIVE, "#TestDrive", MINI.Resources.Vehicle.Index.BookTestDriveBtnLabel, "btn-sm btn-block", new { data_toggle = "modal", data_value = item.CACode, data_retailer_number_value = LinkHelpers.GenerateRetailerDataValue() })
                                @Html.ButtonLink(HtmlHelperExtensions.ButtonLinkType.HIGHLIGHTS, "#model-" + Model.ModelFamily.ECode + "-highlights", MINI.Resources.Vehicle.Index.HighlightsLabel, "highlights-action btn-sm btn-block", null)
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="variant-indent">
            <p class="note" style="margin-top: 0px;">@MvcHtmlString.Create(MINI.Resources.Vehicle.Index.AutoManNote)</p>
            <a href="#vehicleFeatures" data-toggle="modal" data-backdrop="static" data-keyboard="false"
                style="margin-top: 10px;" class="btn btn-lg btn-primary gradient-grey shadow">
                <img src="@Url.ContentVersioned("~/Public/img/ico/buttons/compare.png")" width="31" height="26" />
                @MINI.Resources.Vehicle.Index.ViewFeaturesSpecsLabel</a>
        </div>
    </div>
    <div id="model-@Model.ModelFamily.ECode-highlights" class="wide-body-image highlights">
        <div class="component-left transparent">
            <h3 class="white">@MINI.Resources.Vehicle.Index.HighlightsTitle <a href="#" data-trigger="hover" placement="bottom" rel="popover" data-content="@MINI.Resources.Vehicle.Index.InPageLegal" data-original-title="">
                *</a></h3>
            <div id="main-nav">
                <ul>
                </ul>
            </div>
            <div id="sub-nav">
                <ul>
                </ul>
            </div>
        </div>
        <div class="component-right">
            <div id="copy-holder">
                <div class="item-copy-box">
                    <h4>
                    </h4>
                    <p>
                    </p>
                </div>
            </div>
            <div id="hotspots">
            </div>
            <div class="roll-over-holder">
            </div>
            <div class="item-bg">
            </div>
            <div class="highlight-cover-titles">
                <div id="t-6" class="c-title">@MINI.Resources.Vehicle.Index.ExteriorTitle</div>
                <div id="t-2" class="c-title">@MINI.Resources.Vehicle.Index.InteriorTitle</div>
                <div id="t-7" class="c-title">@MINI.Resources.Vehicle.Index.SafetyTitle</div>
                <div id="t-5" class="c-title">@MINI.Resources.Vehicle.Index.FuelTitle</div>
                <div id="t-4" class="c-title">@MINI.Resources.Vehicle.Index.PerformanceTitle</div>
                <div id="t-8" class="c-title">@MINI.Resources.Vehicle.Index.ConnectedTitle</div>
            </div>
            <nav class="specs-actions"><a href="#" class="share">@MINI.Resources.Vehicle.Index.ShareLabel</a><a href="#" class="big-arrow" style="border:none;">@MINI.Resources.Vehicle.Index.CompareSpecsLabel</a></nav>
        </div>
    </div>

  
	
	
	
	<div id="model-@Model.ModelFamily.ECode-build" class="wide-body-image build"> 
	 
    <div class="component-left transparent">
      <h3 class="white">@MINI.Resources.Vehicle.Index.BuildTitle</h3>

          <div class="build-entry clearfix">
           
           @foreach (var item in Model.Vehicles) {
          <div class="build-entry model-select clearfix">
          <h4 class="white">@item.TrimName</h4>
          <img src="@Url.ContentVersioned(string.Format("~/Public/img/v/{0}/build_{1}-{2}.png", Model.ModelFamily.ECode, item.CACode, @MINI.App.CurrentUserLanguage))" style="float:right;" />
          <h5><small>@MINI.Resources.Vehicle.Index.FromLabel</small> @item.Price.ToString("c0")</h5>
          <a class="btn btn-primary gradient-grey shadow ico-btn btn-md buildMini" href="@item.CACode">
          <img width="26" height="23" src="~/Public/img/ico/buttons/build.png">
           @MINI.Resources.Vehicle.Index.BuildPriceBtnLabel
          </a>
         </div>
           }
          
         </div>
		 
		 

    </div>
    <div class="component-right">

      <div class="ad">
        <h2>@MINI.Resources.Vehicle.Index.AdTextStart @Model.ModelFamily.Name.Replace("The", "")</h2>
        <h2>@MvcHtmlString.Create(MINI.Resources.Vehicle.Index.AdTextEnd)</h2>
      </div>
     
      <div id="build-static"> <img src="@Url.ContentVersioned(string.Format("~/Public/img/v/F56/build-price-static-{0}.png", @MINI.App.CurrentUserLanguage))" /></div>

    </div>

  </div>
  

  
</div>

<div id="inpage-legal" class="left-offset left-indent">
    @MINI.Resources.Vehicle.Index.InPageLegal
</div>

@{Html.RenderPartial("_Features", Model);}

@if (Model != null) {
    @section AdditionalScripts {
        var vehicle = window.VehicleData = window.VehicleData || {}; vehicle.Data = {};
        vehicle.Data.ModelFamily = {}; vehicle.Data.ModelFamily.ECode = '@Model.ModelFamily.ECode';
        vehicle.Data.ModelFamily.ModelHighlights = JSON.parse('@Html.Raw(Json.Encode(Model.ModelFamily.Highlights))');
        var vehicleData14HA = JSON.parse('@Html.Raw(Json.Encode(Model.Vehicles[0]))'); 
        var vehicleData14HB = JSON.parse('@Html.Raw(Json.Encode(Model.Vehicles[1]))'); 
        
        var p = ModelPage.init({data:vehicle.Data, vehicle: '@Model.Vehicles[0].CACode', vehicleData14HA: vehicleData14HA, vehicleData14HB : vehicleData14HB, lang:'@MINI.App.CurrentUserLanguage'});

        $('.highlights-action').on('click', function(e) { e.preventDefault(); _mini.Animate.toContainer($(this).attr('href').slice(1),104); });

        @{Html.RenderPartial("_GalleryInitScript");}
    }
}

@{ Html.RenderAction("BuildAndPrice_BookTestDrive", "Form", new { lang = @MINI.App.CurrentUserLanguage });}
@{ Html.RenderAction("BuildAndPrice_SendToReatiler", "Form", new { lang = @MINI.App.CurrentUserLanguage });}
