@model MINI.Models.AltFeaturesViewModel
@{
    ViewBag.Title = "Print";
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
}

<header>
    <h2>@MINI.Resources.Vehicle.Features.PageTitle</h2>
    <img src="@Url.ContentVersioned("~/Public/img/print/logo-print.png")" id="logo" />
    <ul class="list-unstyled">
        <li><img src="@Url.ContentVersioned("~/Public/img/print/ico-standard.png")" width="15" height="16" /> @MINI.Resources.Vehicle.Features.PackageStandardLbl</li>
        <li><img src="@Url.ContentVersioned("~/Public/img/print/ico-optional.png")" width="16" height="16" /> @MINI.Resources.Vehicle.Features.OptionalLbl    </li>
    </ul>
</header>

<table class="table borderless mb0">
<thead>
    <tr>
    <th width="290" style="vertical-align:bottom;">
    <h3>@Model.Vehicle.Name</h3>
    </th>
        <th width="185" style="text-align:center;">
                @{ 
                    string iconUrl = string.Format("~/Public/img/v/{0}/build_{1}.png", Model.Vehicle.ModelFamily.ECode, Model.Vehicle.CACode);
                    string name = Model.Type.ToUpperInvariant() == "JCW" ? "John Cooper Works" : Model.Vehicle.ShortName.Remove(0, 5);
                 }
                <img src="@Url.ContentVersioned(iconUrl)" />
                <h5 class="white">@Model.Vehicle.TrimName</h5>
        </th>  
    </tr>
</thead>
</table>

<div id="print-body">
    <h3 class="group-title">@MINI.Resources.Vehicle.Features.SpecLabel</h3>
    @foreach (var item in Model.SpecGroups) {
        <h4>@DisplayHelpers.SpecCategory(item)</h4>
        <table class="table">
          <tbody>

            @foreach (var specLabel in item.SpecLabels) {
              <tr>
                <td width="290">
                  @DisplayHelpers.DisplayLabel(Model.Vehicle, specLabel)
                </td>
                <td width="195"  align="center">@DisplayHelpers.DisplayValue(Model.Vehicle, specLabel)</td>  
              </tr>
            }
          </tbody>
        </table>
    }

    <h3 class="group-title">@MINI.Resources.Vehicle.Features.StandardFeaturesLabel</h3>
    @foreach (var item in Model.Vehicle.GroupedStandardFeatures) {
        <h4>@DisplayHelpers.StandardFeatureCategory(item)</h4>
        <table class="table">
          <tbody>
            @foreach (var featureLabel in item.StandardFeatures) {
              <tr>
                <td width="290"> @featureLabel.Name.Replace('\\', ' ') </td>
                  @{string value = DisplayHelpers.DisplayFeatureValue(Model.Vehicle, featureLabel.Name, featureLabel.Code).ToString();}
                  <td width="195"  align="center">
                    @if (!string.IsNullOrEmpty(value)) {
                        <img src="@Url.ContentVersioned("~/Public/img/print/" + value)" width="16" height="16" />
                    } else {
                        @:&nbsp;
                    }
                  </td>
              </tr>
            }
          </tbody>
        </table>
    }

    @foreach (var item in Model.Vehicle.Packages.OrderBy(p => p.FullName)) {
        <table class="table" style="border-bottom:2px solid #000;">
            <tbody>
                <tr>
                    <td width="100%" style="border:none;">
                    <h4 style="border:0;padding:0;float:left;">@item.FullName</h4>
                    <div style="float:right;text-align:center;width:438px;padding:8px 0px;"><img src="@Url.ContentVersioned("~/Public/img/print/ico-standard.png")" /></div>
                    </td>                
                </tr>
            </tbody>
        </table>
        <table class="table">
            <tbody>
            @foreach (var option in item.PackageOptions) {
                <tr>
                <td width="280">
                    @option.FullName
                </td>
                    <td width="185"align="center">
                        <img src="@Url.ContentVersioned("~/Public/img/print/ico-standard.png")" />
                    </td>  
                </tr>
            }
            </tbody>
        </table>
    }
</div>